.error__body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-height: 723px) {
  .error__body {
    margin-top: 5rem;
  }
}

.error__container {
  max-width: 70rem;
}
@media (max-width: 480px) {
  .error__container {
    max-width: 23.3rem;
  }
}

.error {
  color: #868686;
}
.error svg {
  fill: #868686;
}

.error__title {
  text-align: center;
  margin-bottom: 6.6rem;
}
@media (max-width: 768px) {
  .error__title {
    width: 35rem;
    margin: 0 auto 6.6rem;
  }
  .error__title img {
    width: 100%;
  }
}
@media (max-height: 723px) {
  .error__title {
    width: 20rem;
    margin: auto;
  }
  .error__title img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .error__title {
    width: 215px;
  }
}

.error__text {
  font-weight: 600;
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: #868586;
}
@media (max-width: 480px) {
  .error__text {
    font-size: 1.4rem;
  }
}