.team {
  width: 54%;
  height: 100%;
}

.profile-team {
  display: flex;
  align-items: center;
  max-width: 307px;
  margin-left: auto;
  position: relative;
}
.profile-team:before, .profile-team:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 4px;
  background: #1E2029;
  border-radius: 5px;
  position: absolute;
  top: 50%;
}
.profile-team:before {
  transform: rotate(45deg);
  right: 31.7px;
}
.profile-team:after {
  transform: rotate(-45deg);
  right: 22px;
}

.profile-team__photo {
  margin-right: 16px;
  background-color: #9664FF;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

.profile-team__name {
  font-size: 1.6rem;
  line-height: 1.375;
  letter-spacing: -0.018em;
  color: #1E2029;
  margin-bottom: 0.4rem;
}

.profile-team__email {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3333333333;
  letter-spacing: -0.018em;
  color: #1E2029;
  opacity: 0.6;
}