.cab {
    padding-bottom: 20rem;
}

.cab__header {
    max-width: 1126px;
    margin: auto;
    margin-top: 1rem;
    padding-left: 1rem;
}
.cab__header-links {
    display: flex;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
        justify-content: center;
    }
}
.cab__header-link {
    a {
        color: #11BA72;
        font-weight: 500;
        font-size: 1.4rem;

        &:after {
            content: "-";
            color: #11BA72;
            font-weight: 500;
            font-size: 1.4rem;
            margin: 0 1rem;
        }
    }

    &:last-child {
        a {
            &:after {
                display: none;
            }
        }
    }
}
.cab__title {
    font-size: 3.6rem;
    color: rgb(48, 48, 48);
    margin-bottom: 1rem;

    @media (max-width: 480px) {
        text-align: center;
        font-size: 2.6rem;
    }
}
.cab__tabs {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFB;
    min-height: 4.8rem;
    align-items: center;
    text-align: center;
    border: 1px solid #E3E3E3;

    @media (max-width: 768px) {
        display: none;
    }
}
.cab__tab {
    width: 30%;
    color: rgb(34, 34, 34);
    font-size: 1.2rem;
    border-right: 1px solid #E3E3E3;
    height: 100%;
    min-height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:last-child {
        width: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0;
    }

    &:hover {
        color: #fff;
        background-color: #00BA69;
    }
}
.cab__table {
    width: 100%;
    border: 1px solid #E3E3E3;
    text-align: center;

    @media (max-width: 768px) {
        display: none;
    }
}
.cab__table-header {
}
.cab__table-item {
    padding: 2rem 0;
    text-align: center;
    white-space: nowrap;
}
.cab__table-header-text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    color: #5F5F5F;
    margin-right: 1.3rem;
    margin-left: 1rem;
}
.cab__table-header-icon {
}
.cab__table-body {
    border-top: 1px solid #E3E3E3;
    th {
        padding: 3.7rem 0;
    }

    &--bg {
        background-color: #F4F4F4;
    }
}
.cab__table-show-1 {
    &.active {
        background: #000;
    }
}
.cab__table-show-2 {
    &.active {
        background: #F4F4F4;
    }
}
.cab__table-show-3 {
    &.active {
        background: #F4F4F4;
    }
}
.cab__table-show-4 {
    &.active {
        background: #F4F4F4;
    }
}
.cab__table-show-5 {
    &.active {
        background: #F4F4F4;
    }
}
.cab__table-link {
    a {
        font-weight: 700;
        font-size: 1.3rem;
        line-height: calc(15 / 13);
        color: #00BA69;
        border-bottom: 2px solid #00BA69;
    }
}
.cab__table-info {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    color: #404040;

    @media (max-width: 426px) {
        vertical-align: top;
    }
}
.cab__table-btn {
    font-weight: 400;
    font-size: 1.2rem;
    color: #FFFFFF;
    white-space: nowrap;

    background: #00BA69;
    border-radius: 29px;
    border-radius: 2.9rem;
    min-height: 3rem;
    padding: 0 2.6rem;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: darken(#00BA69, 5%);
    }
}
.cab__table-arrow {
    width: 4%;
    transition: all .2s linear;

    img {
        cursor: pointer;
    }

    &.active {
        transform: rotate(180deg);
    }
}
.cab__table-bottom {
    background-color: #F4F4F4;
    width: 100%;
    border-top: 1px solid #E3E3E3;
}
.cab__table-bottom-item {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 136%;
    color: #ACACAC;
    padding: 1.2rem 0;

    span {
        font-weight: 500;
        color: #333;
    }

    a {
        color: #00BA69;
        text-decoration: underline;
    }
}
.cab__table-bottom-notpay {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 136%;
    color: #EC6262;
    border-left: 1px solid #E3E3E3;

    div {
        max-width: 348px;
        margin: auto;
        &:before {
            content: "";
            width: 2rem;
            height: 2rem;
            display: block;
            float: left;
            max-width: 2rem;
            background-image: url(/assets/img/notpay.svg);
            background-repeat: no-repeat;
        }
    }
}
.cab__table-pay {
    max-width: 153px;
    margin: auto;
}
.cab__table-info-payed {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    color: #00BA69;
    margin-bottom: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-image: url("/assets/img/payed.svg");
        background-repeat: no-repeat;
        margin-right: 6px;
    }
}
.cab__table-info-date {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    color: #ACACAC;
    white-space: nowrap;
}
.cab__table-bottom-notbg {
    border-top: 1px solid #E3E3E3;
}
.table__block {
    border-top: 1px solid #E3E3E3;
}
.cab__table-spoiler {
    background-color: #EBEBEB;
    display: none;
    border-top: 1px solid #E3E3E3;

    &.show {
        display: table-row;
    }
}
.cab__table-show {
    &.active {
        background-color: #F4F4F4;
    }
}
.cab__table-spoiler-img {
    padding: 1.4rem 0;
}
.cab__table-spoiler-text {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 142%;
    text-decoration-line: underline;
    color: #404040;
    text-align: left;
}
.cab__table-spoiler-value {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    color: #404040;
}
.cab__table-spoiler-1 {
    display: none;
    transition: all .2s linear;

    &.show {
        display: table-row;
    }
}
.cab__table-arrow {
    button {
        svg {
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            fill: #404040;
        }

        &.active {
            transform: rotate(180deg);
            transition: all .2s linear;
            
            svg {
                fill: #00BA69
            }
        }
    }
}

#button1 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
#button2 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
#button3 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
#button4 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
#button5 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
#button6 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
#button7 {
    &.active {
        background-color: #00BA69;
        color: #fff;
    }
}
.cab__table {
    opacity: 0;

    &.active {
        opacity: 1;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

/* ------------------------------------------ */

.cab__mob {
    max-width: 69.8rem;
    margin: auto;
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}
.cab__mob-header {
    width: 100%;
    font-size: 1.4rem;
    background-color: rgb(242, 242, 242);
    min-height: 4.5rem;

    display: flex;
    align-items: center;
    padding-left: 3rem;
    margin-bottom: 2.4rem;
}
.cab__mob-top {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: calc(16 / 14);
    color: #5F5F5F;
    border: 1px solid #E3E3E3;
    min-height: 5.4rem;

    display: flex;
    align-items: center;
    padding-left: 4rem;
    border-bottom: 0;
}
.cab__mob-table {
}
.cab__mob-block {
    @media (max-width: 768px) {
        border: 1px solid #E3E3E3;
        .cab__table-bottom-notpay {
            border-left: 0;
            justify-content: center;
            margin: auto;
        }
    }
}
.cab__mob-block-bg {
    background-color: #F4F4F4;
}
.cab__mob-body {
    width: 100%;
    height: 30px;
    flex-wrap: wrap;
    
    td {
        padding-left: 3.1rem;
        padding-bottom: 1rem;

        @media (max-width: 426px) {
        }
    }

    tr {
        .cab__table-info {
        }
    }
}
.cab__table-bottom {

}
.cab__table-bottom-notpay {
    div {
        @media (max-width: 768px) {
            padding: 1.5rem 0;
        }
    }
}
.cab__arrow-mob {
    width: 3rem;
    height: 3rem;
    padding-right: 2rem;
    button {
        border: 2px solid #C5C5C5;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        svg {
            fill: #C5C5C5;
            width: 4.6rem;
            height: 4.6rem;
        }

        @media (max-width: 426px) {
            width: 3rem;
            height: 3rem;
        }
    }
}
.cab__table-pay {
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        margin: 0;
    }
}

.cab__table-info-payed {
    @media (max-width: 768px) {
        margin-right: 1.7rem;
    }
}
.cab__mob-pay {
}
.cab__mob-info-payed {
    display: inline;
    font-weight: 500;
    font-size: 1.3rem;
    color: #00BA69;
    margin-right: 1.7rem;

    &:before {
        content: "";
        width: 2rem;
        height: 2rem;
        display: inline-block;
        background-image: url("/assets/img/payed.svg");
        background-repeat: no-repeat;
        vertical-align: bottom;
        margin-bottom: -3px;
    }
}
.cab__mob-info-date {
    display: inline;

    font-weight: 500;
    font-size: 1.3rem;
    line-height: calc(15 / 13);
    color: #ACACAC;

    @media (max-width: 426px) {
        display: block;
        white-space: nowrap;
        margin-top: 5px;
    }
}
.cab__arrow-mob {
    position: relative;
    button {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
        &.active {
            transform: rotate(180deg);
        }
    }
}
#arrowMob1 {
    transition: all .2s linear;
    &.active {
        border-color: #00BA69;

        svg {
            fill: #00BA69;
        }
    }
}
#arrowMob2 {
    transition: all .2s linear;
    &.active {
        border-color: #00BA69;

        svg {
            fill: #00BA69;
        }
    }
}
#arrowMob3 {
    transition: all .2s linear;
    &.active {
        border-color: #00BA69;

        svg {
            fill: #00BA69;
        }
    }
}
#arrowMob4 {
    transition: all .2s linear;
    &.active {
        border-color: #00BA69;

        svg {
            fill: #00BA69;
        }
    }
}
.cab__table-spoiler-img {
    @media (max-width: 768px) {
        padding-left: 3rem;
    }
    @media (max-width: 480px) {
        padding-left: 1rem;
        width: 5%;
    }
}
.cab__table-spoiler-value {
    white-space: nowrap;

    @media (max-width: 480px) {
        font-size: 1rem;
    }
}
.cab__table-spoiler-text {
    @media (max-width: 480px) {
        font-size: 1rem;
        column-span: 1;
    }
}
.cab__mob-block-bg-2 {
    &.active {
        background-color: #F4F4F4;
    }
}
.cab__mob-block-bg-3 {
    &.active {
        background-color: #F4F4F4;
    }
}
.cab__mob-block-bg-4 {
    &.active {
        background-color: #F4F4F4;
    }
}
td {
    &:first-child {
    }
  }

.cab__mob-block cab__mob-block-bg {
    display: none;

    @media (max-width: 426px) {
        display: block;
    }
}
.cab__mob-body-header {
    @media (max-width: 426px) {
        display: none;
    }
}
.cab__table-bottom-notpay {
    div {
        @media (max-width: 426px) {
            max-width: 25rem;
        }
    }
}
.cab__mob-header-mob {
    td {
        padding-top: 3rem;
        padding-left: 3rem;
    }
}
.cab__table-bottom-item {
    @media (max-width: 768px) {
        padding-left: 3rem;
    }
}
