.advantages {
    margin-top: 4rem;
}
.advantages__container {
}
.advantages__title {
    margin-bottom: 3.5rem;
}
.title-block {
}
.advantages__inner {
    display: flex;
    margin: 0 -2rem;
    flex-wrap: wrap;
}
.advantages__col {
    flex: 0 1 33.333%;
    padding: 0 2rem;
    min-height: 14.2rem;
    margin-bottom: 3.5rem;
}
.advantages__item {
    background-color: $secondary;
    padding: 0 3.5rem;
    height: 100%;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advantages__icon-block {
    background-color: #E9E9E9;
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.advantages__text {
    font-size: 1.8rem;
    line-height: 135%;
    color: $black;

    max-width: 21.3rem;

    span {
        font-weight: 700;
    }
}