.banner {
    background: #006937;
    min-height: 4.7rem;

    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;

    &.hide {
        display: none;
    }

    @media (max-width: 768px) {
        min-height: 5.2rem;
    }
}
.banner__text {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 164%;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    width: 99%;
    text-align: center;

    span {
        text-transform: uppercase;
    }

    a {
        text-decoration: underline;
        color: #FFFFFF;

        &:hover {
            text-decoration: none;
        }
    }

    @media (max-width: 768px) {
        max-width: 350px;
        margin: auto;
        font-size: 1.4rem;
    }

    @media (max-width: 480px) {
        font-size: 1rem;
        max-width: 27rem;
    }
}
.banner__close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5.8rem;
    width: 1%;
    
    svg {
        fill: #fff;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            transform: scale(1.3);
        }
    }

    @media (max-width: 768px) {
        margin-right: 2rem;
    }
}