.brand {
    padding-top: 28.5rem;
    margin-bottom: 6rem;

    @media (max-width: 992px) {
        padding-top: 20rem;
    }

    @media (max-width: 480px) {
        padding-top: 10rem;
    }
}
.brand__container {
}
.brand__header {
    max-width: 1139px;
    margin: auto;
    text-align: center;
}
.brand__title {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 5rem;
    line-height: 114%;
    text-transform: uppercase;
    color: #868686;
    margin-bottom: 3.1rem;

    text-align: center;

    @media (max-width: 992px) {
        font-size: 3.6rem;
    }

    @media (max-width: 480px) {
        font-size: 1.8rem;
    }
}
.brand__subtitle {
    font-family: 'Commissioner';
    font-weight: 200;
    font-size: 3rem;
    line-height: 123%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868686;

    @media (max-width: 992px) {
        font-size: 2.4rem;
    }

    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
}
.brand__inner {
    margin: 3.5rem auto 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1775px;
    padding: 0 15px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        padding: 0;
    }
}
.brand__body {
    flex-direction: row-reverse;
}
.brand__photo {
    width: 43%;

    img {
        width: 100%;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2.9rem;
    }
}
.brand__text {
    width: 43%;

    font-family: 'Commissioner';
    font-weight: 200;
    font-size: 3rem;
    line-height: 117%;
    letter-spacing: -0.4px;
    color: #868686;

    @media (max-width: 992px) {
        font-size: 2rem;
    }

    @media (max-width: 768px) {
        width: 80%;
        margin: auto;
    }

    @media (max-width: 480px) {
        font-size: 1.3rem;
    }
}
.brand__bottom {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;

    margin: 6.3rem auto 4.3rem;
    padding: 0 2rem;

    @media (max-width: 650px) {
        display: none;
    }
}
.brand__bottom-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;

    @media (max-width: 650px) {
        display: block;
    }
}
.brand__bottom-mob-item {
    max-width: 153px;
    margin: auto;

    img {
        width: 100%;
    }
}
.brand__bottom-item {
    flex: 0 1 27%;
    text-align: center;
}
.brand__bottom-top {
    max-width: 250px;
    height: 170px;
    img {
        width: 100%;
    }

    @media (max-width: 768px) {
        height: 130px;
    }
}
.brand__bottom-text {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 108%;
    letter-spacing: -0.4px;
    color: #868686;
    margin-top: 2.5rem;
}
.brand__arrow {
    text-align: center;
    svg {
        fill: #A6A6A6;
        width: 4.3rem;
        height: 4.3rem;
        cursor: pointer;

        &:hover {
            fill: #006937;
        }
    }

    @media (max-width: 650px) {
        margin-top: 2rem;
    }
}
.brand__bottom-mob-text {
    max-width: 35rem;
    padding: 0 1.5rem;
    margin: auto;

    p {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    display: none;

    @media (max-width: 650px) {
        display: block;
    }
}