.card {
    margin-top: 250px;
    margin-bottom: 6rem;

    @media (max-width: 992px) {
        margin-top: 150px;
    }
}
.card__container {
    display: flex;
    max-width: 1215px;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.card__sliders {
    width: 35%;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 4rem;
        max-width: 500px;
        margin: 0 auto 4rem;
    }
}
.card__slide {
}
.card__slide-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        text-align: center;
    }
}
.card__slide-item {
}
.card__body {
    width: 60%;

    @media (max-width: 768px) {
        width: 100%;
    }
}
.card__slide-item {
    img {
        width: 100%;
    }
}
.card__slide-block {

}
.card__title {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 100%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #0C6B39;

    text-align: center;
    margin-bottom: 3.3rem;
}
.card__info {
    font-family: 'Commissioner';
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: -0.4px;
    color: #868686;

    margin-bottom: 1.5rem;
}
.card__header {
}
.card__suptitle {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 128%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868686;
}
.card__header-text {
    font-family: 'Commissioner';
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 144%;
    letter-spacing: -0.4px;
    color: #868686;
}
.card__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}
.card__item {
    flex: 0 1 50%;
    padding-right: 1rem;

    &:last-child {
        padding-right: 0;
    }

    @media (max-width: 992px) {
        flex: 1 1 100%;
        padding-right: 0;
        max-width: 300px;
        margin: auto;
    }
}
.card__item-block {
    margin-top: 3.7rem;
}
.card__photo {
}
/*
.card__table {
}
.card__table-inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #868686;
}
.card__table-item {
    position: relative;
    width: 40%;

    &:first-child {
        font-family: 'Commissioner';
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 200%;
        letter-spacing: -0.4px;
        color: #868686;
    }

    &:last-child {
        padding-left: 2rem;

        font-family: 'Commissioner';
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 229%;
        letter-spacing: -0.4px;
        color: #868686;
        &:after {
            content: "";
            height: 100%;
            width: 1.5px;
            background-color: #868686;

            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
 */

 .card__item {
    svg {
        width: 100%;
        height: 370px;
    }

    @media (max-width: 992px) {
        width: 100%;
    }
 }

 /* Слайдер */
 .slick-slider {}
 /* Слайдер запущен */
 .slick-slider.slick-initialized{}
 /* Слайдер с точками */
 .slick-slider.slick-dotted{}
 /* Ограничивающая оболочка */
 .slick-list {}
 /* Лента слайдов */
 .slick-track{}
 /* Слайд */
 .card__slide .slick-slide{
    margin: 0 1rem;
 }
 /* Слайд активный (показывается) 
 */.slick-slide.slick-active{
 }
 /* Слайд основной */
 .slick-slide.slick-current{

 }
 /* Слайд по центру */
 .slick-slide.slick-center{
    border: 1px solid #A2BF37;
 }
 /* Клонированный слайд */
 .slick-slide.slick-cloned{}
 /* Стрелка */
 .card__slide .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 3rem;
    height: 3rem;
 }
 /* Стрелка влево */
 .slick-arrow.slick-prev{
    left: -2rem;
    background: url("/assets/img/card/arrow-l.svg") center no-repeat;
    cursor: pointer;

    @media (max-width: 768px) {
        left: -1rem;
    }
 }
 /* Стрелка вправо */
 .slick-arrow.slick-next{
    right: -3rem;
    background: url("/assets/img/card/arrow-r.svg") center no-repeat;
    cursor: pointer;

    @media (max-width: 768px) {
        right: -2rem;
    }
 }
 /* Стрелка не активная */
 .slick-arrow.slick-disabled{}
 /* Точки (булиты) */
 .slick-dots{}.slick-dots li{}
 /* Активная точка */
 .slick-dots li.slick-active{}
 /* Элемент точки */
 .slick-dots li button{}