.condition {
    margin-top: 8rem;
    border-top: 1px solid #D1D1D1;
}
.condition__container {
}
.condition__header {
}
.condition__inner {
    flex-wrap: wrap;

    display: flex;
    margin: 4rem -2.2rem 0;
    text-align: center;
    justify-content: center;
}
.condition__col {
    flex: 0 1 33.333%;
    padding: 0 2.2rem;
    margin-bottom: 4.7rem;

    @media (max-width: 852px) {
        flex: 0 1 50%;
    }

    @media (max-width: 569px) {
        flex: 1 1 100%;
    }
}
.condition__item {
    height: 100%;
    background: #F5F5F5;
    border-radius: 5px;
    text-align: center;
    padding: 75px 18px 61px;

    box-shadow: 0 2px #C5C2C2;
}
.item-condition {
}
.item-condition__icon {
    margin-bottom: 1.8rem;
}
.item-condition__title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 150%;
    color: #252525;    

    margin-bottom: 1rem;
}
.item-condition__text {
    font-size: 2rem;
    line-height: 150%;
    color: #454545;    
}