.contacts {
    margin-top: 8rem;

    @media (max-width: $laptop) {
        margin-top: 4rem;
    }
}
.contacts__container {
}
.contacts__body {
    display: flex;

    background-color: $secondary;
    border-radius: 2rem;

    padding: 6rem 2rem 0 6rem;
    align-items: flex-end;

    @media (max-width: $ipad) {
        padding: 2.5rem;
        align-items: start;

        flex-direction: column-reverse;
        align-items: center;
    }
}
.contacts__photo {
    width: 50%;
    margin-right: 2rem;
    align-self: flex-end;

    img {
        width: 100%;
        max-width: 55.8rem;
    }

    source {
        width: 100%;
        max-width: 55.8rem;
    }

    @media (max-width: $tablet) {
    }

    @media (max-width: $ipad) {
        display: none;
    }
}
.contacts__content {
    width: 50%;
    padding-bottom: 3rem;

    @media (max-width: $ipad) {
        width: 100%;
    }
}
.contacts__header {
    max-width: 51.9rem;
}
.contacts__title {
}
.title-block {
}
.contacts__text {
    font-size: 1.8rem;
    line-height: 135%;
    color: $black;

    margin: .8rem 0 2.5rem;

    @media (max-width: $mobile) {
        font-size: 1.4rem;
        margin: 1.4rem 0 1.8rem;
    }
}
.contacts__form {
    margin-bottom: 2.5rem;
    max-width: 47.1rem;
}
.contacts__form-item {
    margin-bottom: 2.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        font-size: 1.6rem;
        font-family: 'Cera Pro', sans-serif;
        line-height: 135%;
        display: block;
        margin-bottom: 0.8rem;

        @media (max-width: $mobile) {
            font-size: 1.4rem;
        }
    }

    input {
        min-height: 5rem;
        width: 100%;
        background: $white;
        border: 1px solid #AEAEAE;
        border-radius: .5rem;
        display: block;

        font-family: 'Cera Pro', sans-serif;
        font-size: 1.6rem;
        line-height: 135%;
        color: $primary;

        padding: 0 2rem;

        outline: 0;

        &:focus {
            border: .1rem solid $orange;
        }

        @media (max-width: $mobile) {
            font-size: 1.4rem;
            min-height: 4rem;
            padding: 0 1.5rem;
        }
    }

    @media (max-width: $mobile) {
        margin-bottom: 1.8rem;
    }
}
.contacts__politic {
    font-size: 1.6rem;
    line-height: 135%;
    color: $primary;

    max-width: 44.1rem;

    a {
        color: $orange;
        border-bottom: 1px solid $orange;
    }

    @media (max-width: $mobile) {
        font-size: 1.2rem;
    }
}
.contacts__btn {
    width: 100%;
    max-width: 25rem;
    margin-top: 2.5rem;

    button {
        width: 100%;
    }

    @media (max-width: $mobile) {
        max-width: 100%;
    }
}
.btn {
}
.btn--orange {
}