.contact {
    margin-top: 26rem;
    margin-bottom: 6rem;

    @media (max-width: 992px) {
        margin-top: 15rem;
    }

    @media (max-width: 480px) {
        padding-top: 40%;
        margin-top: 0;
    }
}
.contact__text {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 122%;
    text-align: center;
    letter-spacing: -0.4px;
    color: #868686;

    transform: translateY(100%);
    opacity: 0;
    transition: all .2s linear;

    &._active {
        opacity: 1;
        transform: translateY(0);
    }

    max-width: 1147px;
    margin: auto;

    span {
        font-weight: 700;
    }

    @media (max-width: 480px) {
        font-size: 1.3rem;
        text-align: left;
        padding: 0 2rem;
    }
}
.contact__body {
    max-width: 1620px;
    padding: 0 1.5rem;
    margin: auto;

    @media (max-width: 480px) {
        padding: 0;
    }
}
.contact__inner {
    display: flex;
    margin-top: 3.5rem;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }
}
.contact__left {
    flex: 0 1 47%;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .2s linear;

    &._active {
        opacity: 1;
        transform: translateX(0);
    }

    @media (max-width: 992px) {
        margin-top: 4rem;
    }

    @media (max-width: 480px) {
        flex: 1 1 100%;
    }
}
.contact__form {
    border: 0.3px solid #9C9C9C;
    box-shadow: 0px 0px 5px -1px #868686;
    padding: 3rem 3rem 1.7rem 3rem;

    @media (max-width: 480px) {
        padding: 1.5rem;
        background-color: #F5F5F5;
    }
}
.contact__form-title {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 194%;
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868686;
    margin-bottom: 1.8rem;
}
.contact__form-item {
    min-height: 33px;
    border: 0.3px solid #9C9C9C;
    background-color: #FBFBFB;
    margin-bottom: 1.1rem;
    border-radius: 2rem;

    input {
        width: 100%;
        font-family: 'Commissioner', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 231%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: #868686;
        padding: 0 1.7rem;

        &::placeholder {
            font-family: 'Commissioner', sans-serif;
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 231%;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            color: #868686;

            @media (max-width: 480px) {
                font-size: 1.2rem;
            }
        }

        &:focus {
            outline: 0;
            font-family: 'Commissioner', sans-serif;
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 231%;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            color: #868686;

            &::placeholder {
                font-size: 0;
            }
        }

        @media (max-width: 480px) {
            font-size: 1.2rem;
        }
    }

    select {
        width: 100%;
        min-height: 3.3rem;
        border-radius: 2rem;
        outline: 0;
        border: 0.1px solid #9C9C9C;
        background-color: #FBFBFB;


        font-family: 'Commissioner';
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 231%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: #868686;
        padding: 0 1.4rem;

        option {
            background: #E6E6E6;
            font-family: 'Commissioner';
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 231px;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            color: #868686;

            padding: 3rem 0;
        }
    }
}
.contact__form-textarea {
    margin-top: 1.3rem;
    textarea {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        min-height: 7.1rem;
        resize: none;

        font-family: 'Commissioner';
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 133%;
        letter-spacing: -0.4px;
        color: #868686;
        padding: 1rem 1.7rem;
        border: 0.3px solid #c9c9c9;
        background-color: #FBFBFB;

        &:focus {
            outline: 0;

            &::placeholder {
                font-size: 0;
            }
        }
    }
}
.contact__form-block {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .contact__form-item {
        width: 48%;

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        flex-wrap: wrap;
    }
}
.contact__photo {
    flex: 0 1 47%;

    img {
        width: 100%;
    }
}
.contact__form-add {

    
}
.form__add {
    min-height: 3.2rem;
}

.contact__form-checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.1rem;

    input {
        display: none;
    }

    &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: #F9F9F9;
        border: 1px solid #D5D5D5;
        cursor: pointer;

        @media (max-width: 480px) {}
    }
    
    &:after {
        content: "";
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: .7rem;
        left: .3rem;
        background-image: url("/assets/img/contact/mark.svg");
        background-repeat: no-repeat;
        transform: scale(0);
        cursor: pointer;
    }

    &.active {
        &:after {
            transform: scale(1);
        }
    }

    label {
        padding-left: 20px;

        font-family: 'Commissioner';
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 133%;
        letter-spacing: -0.4px;
        cursor: pointer;

        @media (max-width: 480px) {
            font-size: 1rem;
            padding-left: 0.5rem;
            max-width: 250px;
        }
    }
}
.contact__button {
    max-width: 321px;
    margin: 3.9rem auto 0;

    button {
        width: 100%;
    }

    @media (max-width: 480px) {
        max-width: 189px;
    }
}
.contact__btn {
    background: #006937;
    border: 0.3px solid #9C9C9C;
    box-shadow: 0px 0px 4px rgba(134, 134, 134, 0.25);
    border-radius: 6rem;

    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 183%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #FFFFFF;

    min-height: 5.8rem;
    cursor: pointer;

    max-width: 321px;
    margin: auto;

    button {
        width: 100%;
    }

        &:hover {
            background-color: darken(#006937, 5%);
        }
}
.contact-item-red {
    border: 0;
}
.form_box input.empty_field {
    border-width: 2px;
    border: 0.3px solid #FF0707;
    background-color: #fff;
  }
  .form_box input {
    display: block;
    border: 0.3px solid #9C9C9C;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    border-radius: 2rem;
    min-height: 3.3rem;
    background-color: #FBFBFB;
  }
  .form_box .btn_submit {
    border: none;
    width: 180px;
    text-align: center;
    background: #07a6e6;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    line-height: 28px;
    padding: 0;
  }
  .form_box .btn_submit:hover {
    background: #009ac2;
  }
  .form_box .btn_submit:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  }
.contact__right {
    flex: 0 1 47%;
    transform: translateX(100%);
    opacity: 0;
    transition: all .2s linear;

    &._active {
        opacity: 1;
        transform: translateX(0);
    }

    @media (max-width: 992px) {
        max-width: 600px;
        margin: auto;
    }
}
.contact__right-photo {
    margin-bottom: 3.9rem;
    img {
        width: 100%;
    }
}
.contact__right-subtitle {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 139%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin-bottom: 2.3rem;

    span {
        display: block;
        font-weight: 700;
        color: #006937;
        margin-top: 1rem;
    }

    @media (max-width: 535px) {
        font-size: 1.4rem;
    }

    @media (max-width: 480px) {
        padding: 0 2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}
.contact__right-email {
    font-family: 'Commissioner';
    font-weight: 700;
    font-size: 3rem;
    line-height: 117%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #006937;

    @media (max-width: 535px) {
        font-size: 2.4rem;
    }

    @media (max-width: 480px) {
        padding: 0 2rem;
        font-size: 1.6rem;
    }
}

.inputfile-box {
    position: relative;

  }
  
  .inputfile {
    display: none;
  }

  .file {
    width: 48%;

    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 1.4rem;
    }

    &.file-name {
        .inputfile-box {
            label {
                background-color: #000;
            }
        }
    }
  }
  
  .container {
    display: inline-block;
    width: 100%;
  }
  
  .file-box {
    display: inline-block;
    width: 100%;
    border: 1px solid;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    height: calc(2rem - 2px);
  }
  
  .file-button {
  }

  input[type="file"]::-webkit-file-upload-button{
 }

 .label {
    width: 100%;
    background: #BBBBBB;
    border: 1px solid;
    top: 50%;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;

    font-weight: 600;
    font-size: 13px;
    line-height: 231%;
    
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    border-radius: 2rem;

    img {
        margin-right: 2rem;
    }
}

.contact__capcha {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);

    .capcha-block__left {
        label {
            color: #868586;
        }
    }
}