.contact {
    margin-top: 26rem;
    margin-bottom: 6rem;

    @media (max-width: 992px) {
        margin-top: 15rem;
    }
}
.contact__text {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 122%;
    text-align: center;
    letter-spacing: -0.4px;
    color: #868686;

    max-width: 1147px;
    margin: auto;

    span {
        font-weight: 700;
    }
}
.contact__body {
    max-width: 1620px;
    padding: 0 1.5rem;
    margin: auto;
}
.contact__inner {
    display: flex;
    margin-top: 3.5rem;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}
.contact__left {
    flex: 0 1 47%;

    @media (max-width: 992px) {
        margin-bottom: 4rem;
    }
}
.contact__form {

    border: 0.3px solid #9C9C9C;
    box-shadow: 0px 0px 5px -1px #868686;
    padding: 3rem;

    @media (max-width: 480px) {
        padding: 1.5rem;
    }
}
.contact__form-title {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 194%;
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868686;
    margin-bottom: 1.8rem;
}
.contact__form-item {
    min-height: 33px;
    border: 0.3px solid #9C9C9C;
    background-color: #FBFBFB;
    margin-bottom: 1.1rem;
    border-radius: 2rem;

    input {
        width: 100%;
        font-family: 'Commissioner', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 231%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: #868686;
        padding: 0 1.7rem;

        &::placeholder {
            font-family: 'Commissioner', sans-serif;
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 231%;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            color: #868686;
        }

        &:focus {
            outline: 0;
            font-family: 'Commissioner', sans-serif;
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 231%;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            color: #868686;

            &::placeholder {
                font-size: 0;
            }
        }
    }

    select {
        width: 100%;
        min-height: 3.3rem;
        border-radius: 2rem;
        outline: 0;
        border: 0.1px solid #9C9C9C;
        background-color: #FBFBFB;


        font-family: 'Commissioner';
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 231%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: #868686;
        padding: 0 1.4rem;

        option {
            background: #E6E6E6;
            font-family: 'Commissioner';
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 231px;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            color: #868686;

            padding: 3rem 0;
        }
    }
}
.contact__form-textarea {
    margin-top: 1.3rem;
    textarea {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        min-height: 7.1rem;
        resize: none;

        font-family: 'Commissioner';
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 133%;
        letter-spacing: -0.4px;
        color: #868686;
        padding: 1rem 1.7rem;

        &:focus {
            outline: 0;

            &::placeholder {
                font-size: 0;
            }
        }
    }
}
.contact__form-block {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .contact__form-item {
        width: 48%;

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        flex-wrap: wrap;
    }
}
.contact__photo {
    flex: 0 1 47%;

    img {
        width: 100%;
    }
}
.contact__form-add {

    
}
.form__add {
    min-height: 3.2rem;
}

.contact__form-checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 1.2rem;

    input {
        display: none;
    }

    &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: #F9F9F9;
        border: 1px solid #D5D5D5;
        cursor: pointer;

        @media (max-width: 480px) {}
    }
    
    &:after {
        content: "";
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: .7rem;
        left: .3rem;
        background-image: url("/assets/img/contact/mark.svg");
        background-repeat: no-repeat;
        transform: scale(0);
        cursor: pointer;
    }

    &.active {
        &:after {
            transform: scale(1);
        }
    }

    label {
        padding-left: 20px;

        font-family: 'Commissioner';
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 133%;
        letter-spacing: -0.4px;
        cursor: pointer;

        @media (max-width: 480px) {
            font-size: 1rem;
            padding-left: 0.5rem;
            max-width: 250px;
        }
    }
}
.contact__button {
    max-width: 321px;
    margin: 3.9rem auto 0;

    button {
        width: 100%;
    }
}
.contact__btn {
    background: #006937;
    border: 0.3px solid #9C9C9C;
    box-shadow: 0px 0px 4px rgba(134, 134, 134, 0.25);
    border-radius: 6rem;

    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 183%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #FFFFFF;

    min-height: 5.8rem;
    cursor: pointer;

        &:hover {
            background-color: darken(#006937, 5%);
        }
}
.contact__right {
    flex: 0 1 47%;

    @media (max-width: 992px) {
        max-width: 600px;
        margin: auto;
    }
}
.contact__right-photo {
    margin-bottom: 3.9rem;
    img {
        width: 100%;
    }
}
.contact__right-subtitle {
    font-family: 'Commissioner';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 139%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin-bottom: 2.3rem;

    span {
        display: block;
        font-weight: 700;
        color: #006937;
        margin-top: 1rem;
    }

    @media (max-width: 535px) {
        font-size: 1.4rem;
    }
}
.contact__right-email {
    font-family: 'Commissioner';
    font-weight: 700;
    font-size: 3rem;
    line-height: 117%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #006937;

    @media (max-width: 535px) {
        font-size: 2.4rem;
    }
}

.inputfile-box {
    position: relative;
  }
  
  .inputfile {
    display: none;
  }

  .file {
    width: 48%;

    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 1.4rem;
    }
  }
  
  .container {
    display: inline-block;
    width: 100%;
  }
  
  .file-box {
    display: inline-block;
    width: 100%;
    border: 1px solid;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    height: calc(2rem - 2px);
  }
  
  .file-button {
  }

  input[type="file"]::-webkit-file-upload-button{
    /* style goes here */
 }

 .label {
    width: 100%;
    background: #BBBBBB;
    border: 1px solid;
    top: 50%;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;

    font-weight: 600;
    font-size: 13px;
    line-height: 231%;
    
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    border-radius: 2rem;

    img {
        margin-right: 2rem;
    }
}