.enterprise {
    margin-top: 7rem;
}
.enterprise__container {
}
.enterprise__title {
    margin-bottom: 4rem;

    font-weight: 700;
    font-size: 6.4rem;
    line-height: 100%;
    color: #6E5B55;
}
.enterprise__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-enterprise {
}
.top-enterprise__left {
    display: flex;
    align-items: center;
}
.top-enterprise__left >*:not(:last-child) {
    margin-right: 2rem;
}
.enterprise__left {
    flex: 1 1 57%;
}
.enterprise__left-form {
    max-width: 308px;

    input {
        width: 100%;
        max-width: 308px;
    }
}
.enterprise__left-icon {
}
.enterprise__left-body {
}
.enterprise__body {
    display: flex;
}
.enterprise__body-text {
    margin-right: 2rem;

    &:last-child {
        margin-right: 0;
    }
}
.top-enterprise__right {
}
.enterprise__right {
}
.enterprise__right-text {
}
.enterprise__right-icon-1 {
}
.enterprise__right-icon-2 {
}
.enterprise__inner {
}