.error__body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;

    @media (max-height: 723px) {
    }
}
.error__container {
    max-width: 70rem;

    @media (max-width: 480px) {
        max-width: 23.3rem;
    }
}
.error {
    color: #868686;
}
.error-link {
    svg {
        fill: #868686;
        width: 100%;
        height: 100%;
    }

    &:after {
        content: "";
        opacity: 0;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #006937;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all .2s linear;
    }

    &:hover {
        &:after {
            opacity: 1;
        }

        svg {
            fill: #fff;
        }
    }
}
.error__title {
    text-align: center;
    margin-bottom: 6.6rem;

    @media (max-width: 768px) {
        width: 35rem;
        margin: 0 auto 6.6rem;

        img {
            width: 100%;
        }
    }

    @media (max-height: 723px) {
        width: 20rem;
        margin: auto;

        img {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        width: 215px;
    }
}
.error__text {
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868586;

    @media (max-width: 480px) {
        font-size: 1.4rem;
        margin-top: 2.7rem;
    }
}