.footer {
    width: 100%;
    background-color: #3E3E3E;
    padding: 15px 0;
}
.footer__container {
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 754px) {
        flex-direction: column;
    }
}
.footer__logo {
    display: flex;
    align-items: center;

    @media (max-width: 754px) {
        margin-bottom: 60px;
    }
}
.footer__img {
}
.footer__logo-text {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);
    color: #FFFFFF;    
}
.footer__nav {
}
.nav {
}
.footer__nav {
    display: flex;

    li {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 992px) {
            flex: 1 1 30%;
        }

        @media (max-width: 754px) {
            flex: 1 1 100%;
            margin-right: 0;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 992px) {
        flex-wrap: wrap;
        text-align: center;
    }

    @media (max-width: 754px) {
        margin-bottom: 60px;
    }
}
.footer__link {
    font-size: 20px;
    line-height: calc(23 / 20);
    color: #FFFFFF;   
    
    &:hover {
        text-decoration: underline;
    }
}
.footer__button {
    @media (max-width: 754px) {
        margin-bottom: 30px;
    }
}
.btn {
}
.btn--white {
}
.social__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__footer-item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 754px) {
        margin-right: 40px;
    }
}
.footer__copy {
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    
    color: #FFFFFF;
    margin-top: 19px;
    
    @media (max-width: 754px) {
        margin-top: 90px;
    }
}