.footer {
    margin-top: 8rem;
    background-color: $secondary;
    padding: 4rem 0 0;

    &:after {
        content: '';
        width: 100%;
        height: 5.3rem;
        background-color: #E9E9E9;
        display: block;
        margin-top: 4rem;
    }
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__item {
}
.footer__logo {
}
.footer__list {
    li {
        margin-bottom: 1.4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.footer__link {
    font-size: 1.6rem;
    line-height: 135%;
    color: $primary;
    transition: all .2s linear;

    &:hover {
        color: $orange;
    }
}
.footer__text {
    font-size: 1.6rem;
    line-height: 135%;
    color: $primary;
}
.footer__socials {
    display: flex;
    margin-top: 1.8rem;
}
.footer__social {
    background-color: #DCDCDC;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;

    margin-right: 1.2rem;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $orange;
    }
}
.footer__button {
    width: 100%;
    max-width: 25rem;

    button {
        width: 100%;
    }
}