.header {
    width: 100%;
    max-width: 164.6rem;
    padding-top: 2.2rem;
    transition: all .5s linear;

    &.active {
        background-color: #fff;
    }

    @media (max-width: 650px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            background-color: #fff;
    
            .header__color {
                color: #282828;
            }
    
            .header__burger {
                &:after,
                &:before,
                span {
                    background-color: #282828;
                }
            }
        }
    }
}
.header__container {
}
.header__body {
    position: relative;
    z-index: 1000;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: .1rem solid rgba(42, 42, 42, .15);
    padding-bottom: 2.2rem;

    @media (max-width: 1260px) {
        border-bottom: 0;
    }
}
.header__item {
    display: flex;
    align-items: center;

    &:nth-child(4) {
        .header__link {
            border-bottom: 0;
        }
    }

    @media (max-width: 1260px) {
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            display: none;
        }
        &:nth-child(4) {
            display: none;
        }
    }

    @media (max-width: 800px) {
        &:first-child {
            .header__text {
                display: none;
            }
        }

        &:nth-child(5) {
            display: none;
        }
    }
}
.header__logo {
    margin-right: 2.3rem;

    @media (max-width: 1368px) {
        width: 15rem;

        img {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        margin-right: 0;
    }
}
.header__text {
    font-size: 1.1rem;
    line-height: calc(20 / 11);
    letter-spacing: 0.02em;
    color: #2A2A2A;

    @media (max-width: 650px) {
        font-size: 0.6rem;
    }
}
.header__icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.header__link {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: calc(15 / 11);
    letter-spacing: 0.05em;

    color: #2A2A2A;
    border-bottom: 2px dotted #FD2016;
    padding-bottom: 0.4rem;

    span {
        border-bottom: 2px dotted #FD2016;
    }
}
.header__socials {
    display: flex;
    margin-left: 2.4rem;
}
.header__social {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 0.6rem;
    cursor: pointer;
    
    transition: all .2s linear;

    &:first-child {
        background: #20C863;
        border-radius: 50%;   
        
        img {
            margin-bottom: 0.1rem;
        }

        &:hover {
            background-color: darken(#20C863, 5%);
        }
    }

    &:nth-child(2) {
        background: #2FB3F3;
        border-radius: 50%; 
        
        &:hover {
            background-color: darken(#2FB3F3, 5%);
        }
    }

    &:last-child {
        background: #776EE9;
        border-radius: 50%;       
        margin-right: 0;

        &:hover {
            background-color: darken(#776EE9, 5%);
        }
    }

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 1368px) {
        width: 2.5rem;
        height: 2.5rem;
    }
}
.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__block {
    margin-bottom: 0.6rem;
}
.header__point {
}
.header__suptitle {
    font-size: 1.2rem;
    letter-spacing: 0.02em;
    color: #2A2A2A;

    display: flex;
    align-items: center;

    &:before {
        content: "";
        display: block;
        background: #20C863;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        margin-right: 0.6rem;
    }

    @media (max-width: 650px) {
        color: #fff;
        font-size: 0.6rem;
    }
}
.header__number {
    font-weight: 700;
    font-size: 2rem;
    line-height: 50%;
    color: #2A2A2A;
    margin-bottom: 0.6rem;

    display: flex;
    align-items: center;

    &:after {
        content: "";
        display: block;
        width: 0.9rem;
        height: 0.5rem;
        background-image: url("/assets/img/header/arrow.svg");
        background-repeat: no-repeat;
        margin-left: 1rem;
    }

    @media (max-width: 1368px) {
        font-size: 1.6rem;
    }

    @media (max-width: 650px) {
        color: #fff;
        font-size: 1.2rem;

        &:after {
            display: none;
        }
    }
}
.header__subtitle {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: 650px) {
        border-bottom: 2px dotted #FD2016;
    }
}
.header__subtitle-icon {
    margin-left: 1rem;
    display: flex;
    align-items: center;

    @media (max-width: 650px) {
        margin-left: 0.3rem;
    }
}
.header__bottom {
    padding: 2.4rem 0 2.3rem;

    @media (max-width: 850px) {
        display: none;
    }
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: calc(16 / 12);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #2A2A2A;

    position: relative;
    
    &:after {
        content: "";
        width: 0;
        height: 0.2rem;
        border-bottom: 2px dotted #FD2016;

        position: absolute;
        bottom: -0.5rem;
        left: 0;
        transition: all .2s linear;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }

    @media (max-width: 1024px) {
        font-size: 1rem;
    }
}
.header__burger {
    position: relative;
    width: 1.4rem;
    height: .5rem;
    z-index: 1000;
    display: none;
    transition: all .5s linear;

    &:after,
    &:before,
    span {
        width: 100%;
        height: 1.5px;
        background-color: #282828;

        position: absolute;
        right: 0;
        transition: all .2s linear;
    }

    &:before {
        content: "";
        top: -3px;
    }

    &:after {
        content: "";
        bottom: -3px;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 1260px) {
        display: block;
    }

    @media (max-width: 650px) {
        &:after,
        &:before,
        span {
            background-color: #fff;
        }
    }

    &.active {
        span {
            display: none;
            background-color: #282828;
        }

        &:before {
            transform: rotate(45deg);
            top: 50%;
            background-color: #282828;
        }

        &:after {
            transform: rotate(-45deg);
            top: 50%;
            background-color: #282828;
        }
    } 
}

.header__color {
    transition: all .5s linear;
    
    &.active {
        color: #000;
    }

    @media (max-width: 650px) {
        color: #fff;
    }
}

.header__mob {
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 5rem 2.2rem;
    transform: translateX(-100%);
    transition: all .5s linear;

    overflow: auto;

    &.active {
        transform: translateX(0);

        .header__suptitle {
            color: #000;
        }
    }

    @media (max-width: 850px) {
        padding: 3rem 2.2rem 9rem;
    }

    @media (max-width: 650px) {
        padding: 0rem 2.2rem 9rem;
    }
}
.header__mob-list {
    display: none;

    li {
        margin-bottom: 2.8rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 850px) {
        display: block;
    }
}
.header__mob-sub {
    margin-top: 1.4rem;
}
.header__mob-link {
    font-size: 1.6rem;
    line-height: calc(22 / 16);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1C1C1C;
}
.header__mob-subtitle {
    display: block;
    font-size: 1.2rem;
    line-height: 208%;
    color: #929292;
}
.header__mob-body {
    margin-top: 3.8rem;
}
.header__mob-item {
    display: flex;
    align-items: center;
    margin-bottom: 3.8rem;

    &:last-child {
        margin-bottom: 0;
        display: none;

        @media (max-width: 800px) {
            display: flex;
        }
    }

    &:last-child {
        align-items: start;
    }
}
.header__mob-icon {
    margin-right: 1.8rem;
    display: flex;
    align-items: center;
    width: 6.5rem;
    height: 6.5rem;

    img {
        width: 100%;
    }
}
.header__mob-text {
    font-size: 1.4rem;
    line-height: calc(18 / 14);
    color: #2A2A2A;

    span {
        font-weight: 800;
        font-size: 1.4rem;
        line-height: calc(18 / 14);
        color: #2A2A2A;
        border-bottom: 2px dotted #FD2016;
    }
}
.header__mob-socials {
    display: flex;
    margin-top: 1.3rem;
}
.header__mob-social {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.6rem;

    &:first-child {
        background: #05A0EB;
        border-radius: 50%;
        width: 3.1rem;
        height: 3.1rem;
    }

    &:last-child {
        background: #12C868;
        border-radius: 50%;
        width: 3.1rem;
        height: 3.1rem;

        margin-right: 0;
    }

    img {
        width: 1.4rem;
        height: 1.4rem;
    }
}