.info {
    padding: 100px 0;
}
.info__container {
}
.info__title {
    max-width: 533px;
    margin-bottom: 64px;
}
.info__inner {
    display: flex;
    margin: 0 -66px;
    align-items: center;
}
.info__col {
    width: 33.3333%;
    padding: 0 66px;
    height: 100%;
}
.info__item {
    border-radius: 10px;
    padding: 20px 20px 20px 33px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    &:before {
        content: "";
        background-color: #FF7527;
        width: 8px;
        height: 30px;
        border-radius: 5px;

        position: absolute;
        left: 0;
        top: 17px;
    }

    &:hover {
        border: 1px solid #EEEDDE;
    }
}
.item-info {
}
.item-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.header-info {
}
.header-info__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #203239;
}
.header-info__value {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #FF7527;    
}
.item-info__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 188%;
    color: rgba(32, 50, 57, 0.55);
}
.item-info__bottom {
    display: flex;
    align-items: center;
}
.bottom-info {

}
.bottom-info__text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #203239;    
    margin-right: 8px;
    
    position: relative;
    z-index: 5;
}
.item-info__body {

    &:before {
        content: "";
        display: flex;
        background-color: #D6D5C7;
        width: 40px;
        height: 30px;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        
        transform: translate(26px, -17px);
    }
}
.bottom-info__arrow {
}