.info {
    margin-top: 11.1rem;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
        margin-top: 4rem;
    }
}
.info__container {
    max-width: 1600px;
    margin: auto;
}
.info__top {
    display: flex;
    align-items: center;
    margin-bottom: 8.3rem;
    justify-content: space-between;

    transform: translateY(100%);
    transition: all .2s linear;

    &._active {
        transform: translateY(0);
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.info__top-photo {
    width: 15%;

    @media (max-width: 768px) {
        width: 20%;
    }

    @media (max-width: 480px) {
        text-align: center;
    }

    @media (max-width: 390px) {
        width: 25%;
    }

    img {
        width: 100%;
    }
}
.info__top-text {
    width: 74%;

    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: calc(35 / 28);
    letter-spacing: -1px;
    color: #868686;

    @media (max-width: 992px) {
        font-size: 2rem;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 2rem;
    }

    @media (max-width: 480px) {
        font-size: 1.3rem;
    }
}
.info__inner {
    display: flex;
    margin: 0 -3rem;

    transform: translateY(100%);
    transition: all .2s linear;

    &._active {
        transform: translateY(0);
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        margin: 0 -2rem;
    }
}
.info__item {
    flex: 0 1 25%;
    position: relative;
    padding: 0 2rem;

    &:last-child {
        .info__item-value {
            border-right: 0;
        }
    }

    @media (max-width: 992px) {
        &:nth-child(3) {
            .info__item-value {
                svg {
                    width: 110px;
                    height: 125px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 480px) {
        &:nth-child(3) {
            .info__item-value {
                svg {
                    width: 80px;
                    height: 90px;
                }
            }
        }
    }

    /*
    &:after {
        content: "";
        width: 1px;
        height: 50%;
        background-color: #868686;

        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 768px) {
            height: 100%;
        }

        @media (max-width: 480px) {
            width: 0.5px;
        }
    }*/

    @media (max-width: 768px) {
        flex: 0 1 50%;
        margin-bottom: 2rem;
        padding: 0;

        &:nth-child(2) {
            .info__item-value {
                border-right: 0;
            }
        }
    }

    @media (max-width: 480px) {
    }
}
.info__col {
    flex: 0 1 16.666%;
    position: relative;
    padding: 0 1rem;

    &:last-child {
        .info__value {
            border-right: 0;
        }
    }

    &:nth-child(5) {
        .info__value {
            svg {
                width: 150px;

                @media (max-width: 1320px) {
                    width: 160px;
                }

                @media (max-width: 1120px) {
                    width: 120px;
                }

                @media (max-width: 390px) {
                    width: 90px;
                }
            }
        }
    }

    &:nth-child(6) {
        .info__value {
            svg {
                width: 150px;

                @media (max-width: 1320px) {
                    width: 160px;
                }

                @media (max-width: 1120px) {
                    width: 120px;
                }

                @media (max-width: 390px) {
                    width: 90px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        flex: 0 1 33.333%;
        text-align: center;
        margin-bottom: 2rem;
        padding: 0;

        &:nth-child(3) {
            .info__value {
                border-right: 0;
            }
        }
    }

    @media (max-width: 590px) {
        flex: 0 1 50%;

        &:nth-child(2) {
            .info__value {
                border-right: 0;
            }
        }

        &:nth-child(3) {
            .info__value {
                border-right: 2px solid #868686;
            }
        }

        &:nth-child(4) {
            .info__value {
                border-right: 0;
            }
        }
    }
}
.info__item-value {
    border-right: 2px solid #868686;
    margin-bottom: 4rem;
    svg {
        width: 200px;
        height: 120px;

        @media (max-width: 1186px) {
            width: 150px;
            height: 150px;
        }

        @media (max-width: 992px) {
            width: 130px;
            height: 130px;
        }

        @media (max-width: 480px) {
            width: 100px;
            height: 90px;
        }
    }

    @media (max-width: 992px) {
        margin-bottom: 0;
    }
}
.info__value {
    font-weight: 600;
    border-right: 2px solid #868686;
    margin-bottom: 4rem;
    svg {
        width: 100px;
        height: 100px;

    }

    @media (max-width: 1320px) {
        svg {
            width: 120px;
            height: 120px;
        }
    }

    @media (max-width: 1120px) {
        svg {
            width: 90px;
            height: 90px;
        }
    }

    @media (max-width: 992px) {


    }

    @media (max-width: 480px) {
        svg {
            width: 70px;
            height: 70px;
        }
    }

    @media (max-width: 490px) {
        margin-bottom: 2rem;
    }
}
.info__subtitle {
    color: #006937;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    margin-top: -30px;
}
.info__item-text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 122%;
    letter-spacing: -0.4px;
    color: #868686;

    @media (max-width: 992px) {
        font-size: 1.4rem;
    }

    @media (max-width: 768px) {
        padding: 0 1rem;
    }

    @media (max-width: 480px) {
        font-size: 1.1rem;
    }
}
.info__title {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 286%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868686;
    margin: 2rem 0;

    @media (max-width: 590px) {
        font-size: 1.4rem;
    }
}
.info__text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 122%;
    letter-spacing: -0.4px;
    color: #868686;

    margin-top: 6.6rem;

    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
}
.info__body {
    display: flex;
    margin: 0 -1rem;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.info__arrow {
    text-align: center;
    margin-top: 6.4rem;

    svg {
        width: 43px;
        height: 43px;
        fill: #A6A6A6;
        cursor: pointer;

        &:hover {
            fill: #006937;
        }
    }
}