.info {
    padding-top: 21.4rem;
    position: relative;
}
.info__container {
    display: flex;
}
.info__photo {
    width: 50%;
    position: relative;

    img {
        width: 100%;
    }
}
.info__photo-block {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    img {
        width: 100%;
    }
}
.info__photo-decor {
    position: absolute;
    top: 8rem;
    right: 5rem;
    z-index: -1;
}
.info__woman {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
.info__content {
}
.info__title {
    margin-bottom: 1.8rem;
}
.info__text {
}
.text-block {
}
.info__list {
    margin-top: 3.5rem;

    li {
        max-width: 55rem;
        margin-bottom: 3.5rem;

        display: flex;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.info__list-disc {
    display: flex;
    align-items: center;
    width: 2.7rem;
    height: 2.5rem;

    margin-right: 2.5rem;
}
.info__list-text {
    font-size: 2.4rem;
    line-height: 135%;
    color: $white;
}
.info__decorations {
}

.info__decor-1 {
    position: absolute;
    left: -10rem;
    top: 0;
}

.info__decor-2 {
    position: absolute;
    top: 25rem;
    left: -3rem;
}

.info__decor-3 {
    position: absolute;
    bottom: 0;
    right: -6rem;
}