.info {
    margin-top: -35px;
    margin-bottom: 150px;

    @media (max-width: 618px) {
        margin-bottom: 0;
    }
}
.info__container {
}
.decor__block {
}
.body__decor {
}
.info__body {
    max-width: 1100px;
    margin: 19px auto 0;

    @media (max-width: 618px) {
        margin-bottom: 70px;
    }
}
.info__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-bottom: 18px;

    @media (max-width: 618px) {
        font-size: 24px;
    }
}
.info__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000000;   
    
    @media (max-width: 618px) {
        font-size: 16px;
    }
}

.content {
    margin-top: 40px;
    max-width: 1100px;
    margin: 40px auto 0;
}
.tabs__link {
    position: relative;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: .5px;
        background-color: #0072ff;

        position: absolute;
        bottom: -3px;
        left: 0;
        transition: all .2s linear;
    }
}
.item-tabs__title {
    font-size: 24px;
    line-height: 200%;
    color: #000000;    
}
.tabs__link {
    font-size: 18px;
    line-height: 200%;
    color: #4149F2;
}

.tabs {
    max-width: 1120px;
    float: none;
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    @media (max-width: 618px) {
        margin-left: 4px;
    }

    @media (max-width: 510px) {
        justify-content: space-between;
    }
    
}
.tab__el {
    float: none;
    list-style: none;
    
    @media (max-width: 872px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    input[type=radio] {
        display: none;
    }

    label p {
        padding: 5px;
        margin-right: 0;
    }

    label {
    }
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label p {
    padding: 5px;
    margin-right: 0;
}
.tabs label {
    display: flex;
    float: left;
    width: 31%;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(180deg, #F6F6F6 0%, #D5D5D5 100%);
    min-height: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 1px #A8A1A1;

    &:first-child {
    }

    @media (max-width: 716px) {
        font-size: 16px;
    }

    @media (max-width: 508px) {
        width: 40%;
    }
}
.tabs label span {
    display: none;
}
.tabs label:hover {
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color:#ffffff;

    @media (max-width: 618px) {
        margin-top: 70px;
    }
}

.tabs [id^="tab"]:checked + label {
    background: linear-gradient(180deg, #D5D5D5 0%, #F6F6F6 100%);
}
.tab__el [id^="tab"]:checked + label {
    background: linear-gradient(180deg, #D5D5D5 0%, #F6F6F6 100%);
}
#tab-first:checked ~ #tab-content-1,
#tab-second:checked ~ #tab-content-2,
#tab-third:checked ~ #tab-content-3,
#tab-fourth:checked ~ #tab-content-4,
#tab-fifth:checked ~ #tab-content-5,
#tab-sixth:checked ~ #tab-content-6,
#tab-seventh:checked ~ #tab-content-7
{
    display: block;
}
.tabs__inner {
    @media (max-width: 872px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media (max-width: 510px) {
        width: 100%;
        max-width: 500px;
    }
}
.tab__list {
    background: #F7F7F7;
    width: 100%;
    padding: 40px 0 50px;
    border-radius: 4px;

    li {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.tabs__body {
    display: flex;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 4px; 
}
.item-tabs {
    width: 33.333%;
    padding-left: 50px;

    &:last-child {
        align-self: center;
        position: relative;
        padding-top: 140px;

        ul {
            li {
                a {
                    font-size: 24px;
                }
            }
        }

        @media (max-width: 618px) {
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #AEAEAE;

                position: absolute;
                top: 0;
                left: 0;
                margin-top: 70px;
            }
        }
    }

    @media (max-width: 927px) {
        width: 50%;
        margin-bottom: 2rem;
    }

    @media (max-width: 618px) {
        width: 100%;

        li {
            margin-bottom: 30px;
        }
    }
}

.tab__block {
    padding: 40px;
    background-color: #F6F6F6;

    li {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 618px) {
        li {
            margin-bottom: 30px;
        }
    }
}