.intro {
    width: 100%;
    height: auto;
    background: url("../assets/img/intro/bg.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 208px 0 118px;

    position: relative;
    text-align: center;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(62, 62, 62, 0.8);

        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    @media (max-width: 487px) {
        padding: 143px 0 83px;
    }
}
.intro__container {
    position: relative;
    z-index: 10;
    max-width: 926px;
    margin: auto;
}
.intro__header {
    margin-bottom: 78px;

    @media (max-width: 487px) {
        margin-bottom: 24px;
    }
}
.intro__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;   
    margin-bottom: 4px; 

    @media (max-width: 487px) {
        font-size: 32px;
        margin-bottom: 24px;
    }
}
.intro__suptitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;    

    @media (max-width: 487px) {
        font-size: 20px;
    }
}
.intro__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

    @media (max-width: 487px) {
        font-size: 16px;
    }
}
.intro__button {
    margin-top: 76px;

    @media (max-width: 487px) {
        margin-top: 51px;
    }
}
.btn {
}
.btn--red {
}