.intro {
}
.intro__body {
    background-color: $secondary;
    position: relative;
    min-height: 48.3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__container {
}
.intro__slider {
    align-items: center;
    justify-content: space-between;
    display: none;
    height: 100%;

    &.active {
        display: flex;
    }

    &:nth-child(2) {
        .intro__photo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}
.intro__content {
    max-width: 46rem;
}
.intro__title {
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 125%;
    color: $primary;

    margin-bottom: 1.8rem;
}
.intro__text {
    font-size: 2rem;
    line-height: 135%;
    color: $primary;

    margin-bottom: 3.4rem;
}
.intro__btn {
    width: 100%;
    max-width: 25rem;

    button {
        width: 100%;
    }
}
.btn {
}
.btn--orange {
}
.intro__photo {
}
.intro__dots {
    display: flex;
    margin: 2.5rem -1.8rem 0;
}
.intro__dot {
    flex: 0 1 20%;
    min-height: 7.6rem;
    padding: 0 1.8rem;

    &.active {
        .intro__item {
            box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
        }
    }
}
.intro__item {
    border-radius: 1rem;
    background-color: $secondary;
    height: 100%;
    padding: 0 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(20 / 16);
    color: $primary;

    transition: all .2s linear;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
    }
}
.intro__dot-icon {
    width: 4.2rem;
    height: 4.2rem;
    background-color: #E9E9E9;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}