.map {
    position: relative;
}
.map__container {
}
.decor__block {
}
.body__decor {
}
.decor-place {
}
.map__iframe {
    iframe {
        width: 100%;
        border: 0;
        height: 820px;
    }
}
.map__body {
    position: absolute;
    bottom: 112px;
    left: 300px;
    z-index: 2;

    @media (max-width: 1413px)  {
    }

    @media (max-width: 913px) {
        position: static;
        width: 100%;
        background-color: rgba(62, 62, 62, 1);
    }
}
.map__content {
    background-color: rgba(62, 62, 62, 1);
    max-width: 340px;
    text-align: center;
    padding: 35px 20px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 190px; 
        right: 150px;
        width: 0;
        height: 0;
        border-right: 265px solid transparent;
        border-left: 265px solid transparent;
        border-bottom:150px solid 
        rgba(62, 62, 62, 1);
        transform: rotate(-90deg);
        border-radius: 5px;

        @media (max-width: 913px) {
            display: none;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 190px; 
        left: 150px;
        width: 0;
        height: 0;
        border-right: 265px solid transparent;
        border-left: 265px solid transparent;
        border-bottom:150px solid 
        rgba(62, 62, 62, 1);
        transform: rotate(90deg);
        border-radius: 5px;

        @media (max-width: 913px) {
            display: none;
        }
    }

    @media (max-width: 913px)  {
        margin: auto;
    }
}
.content-map {
}
.content-map__title {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);
    color: #FFFFFF;  
    margin-bottom: 21px;
    
    @media (max-width: 580px) {
        font-size: 24px;
    }  
}
.content-map__item {
}
.map__item {
    margin-bottom: 40px;

}
.map__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: calc(26 / 22);
    text-align: center;
    color: #FFFFFF;   
    
    @media (max-width: 580px) {
        font-size: 16px;
    } 
}
.map__item-subtitle {
    font-size: 22px;
    line-height: calc(26 / 22);
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

    @media (max-width: 580px) {
        font-size: 16px;
    } 
}
.map__item-text {
    font-size: 22px;
    line-height: calc(26 / 22);
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 580px) {
        font-size: 16px;
    }
}
.map__photo {
    position: absolute;
    bottom: 363px;
    right: 13%;
    z-index: 2;
    width: 20%;

    img {
        width: 100%;
    }
}

.map__img {
    width: 100%;
    height: 820px;
    background-color: #333;
    margin-top: -35px;
    position: relative;
}