.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    z-index: 10010;
    display: none;
    padding: 0 2.5rem;

    &.show {
        display: flex;
    }
}
.modal__dialog {
    max-width: 56rem;
    margin: auto;
    background-color: #fff;
    border-radius: 1rem;
    padding: 6rem;
    position: relative;

    @media (max-width: $mobile) {
        padding: 4rem 2.5rem;
    }
}
.modal__close {
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;

    cursor: pointer;

    @media (max-width: $mobile) {
        top: 2rem;
        right: 2rem;

        img {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}
.modal__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__icon {
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
        max-width: 6.4rem;
        margin-bottom: 2.5rem;

        img {
            width: 100%;
        }
    }
}
.modal__body {
    margin-bottom: 3.5rem;
    text-align: center;

    @media (max-width: $mobile) {
        margin-bottom: 1.8rem;
    }
}
.modal__header {
    max-width: 32.1rem;
    margin: 0 auto 3rem;
    text-align: center;

    @media (max-width: $mobile) {
        margin: 0 auto 1.8rem;
    }
}
.modal__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 135%;

    margin-bottom: 0.8rem;
    color: $primary;

    @media (max-width: $mobile) {
        font-size: 2.4rem;
    }
}
.modal__subtitle {
    font-size: 1.8rem;
    line-height: 135%;
    color: $primary;

    @media (max-width: $mobile) {
        font-size: 1.4rem;
    }
}
.modal__form {
}
.modal__form-item {
    margin-bottom: 2.5rem;
    width: 100%;

    input {
        min-height: 7rem;
        border: .1rem solid #AEAEAE;
        width: 100%;
        font-family: 'Cera Pro', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 135%;
        border-radius: .5rem;

        padding: 0 2.3rem;

        &:focus {
            outline: 0;
            border: .1rem solid $orange;
        }

        @media (max-width: $mobile) {
            min-height: 4rem;
            font-size: 1.4rem;
        }
    }

    @media (max-width: $mobile) {
        margin-bottom: 1.8rem;
    }
}
.modal__politic {
    margin-bottom: 2.5rem;

    font-size: 1.6rem;
    color: $primary;
    line-height: 135%;

    a {
        color: $orange;
        border-bottom: 1px solid $orange;
    }

    @media (max-width: $mobile) {
        font-size: 1.2rem;
        margin-bottom: 1.8rem;
    }
}
.modal__btn {
    width: 100%;

    button {
        width: 100%;
        min-height: 7rem;
        font-size: 2rem;

        @media (max-width: $mobile) {
            min-height: 4rem;
            font-size: 1.4rem;
        }
    }
}
.btn {
}
.btn--orange {
}