.plus {
}
.plus__container {
}
.plus__header {
    max-width: 578px;
    margin: auto;
    margin-bottom: 9rem;
}
.plus__subtitle {
    font-size: 2rem;
    line-height: 150%;
    color: #252525;
    opacity: 0.65;
    margin-top: 1rem;
}
.plus__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plus__content {
}
.content-plus {
    width: 40%;

    @media (max-width: 624px) {
        width: 100%;
    }
}
.content-plus__item {
    font-size: 1.6rem;
    line-height: 150%;
    color: #252525;  
    
    margin-bottom: 4rem;
    display: flex;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    div {
    }

    &:before {
        content: "";
        display: block;
        min-width: 14px;
        height: 14px;
        background-color: #00659D;
        border-radius: 50%;

        margin-right: 14px;
    }

    @media (max-width: 801px) {
        font-size: 1.4rem;
    }
}
.plus__photo {
    width: 54%;

    img {
        width: 100%;
    }
    @media (max-width: 801px) {
        width: 60%;
    }

    @media (max-width: 624px) {
        display: none;
    }
}