.product__subnav {
    position: absolute;
    top: 0;
    width: 100%;
    transform: scale(0);
    transition: all .2s linear;
    &.active {
        transform: scale(1);
    }
}
.product {
    padding-top: 250px;
    margin-bottom: 3.7rem;
    background-color: #fff;
    position: relative;

    @media (max-width: 992px) {
        padding-top: 150px;
    }
}
.subnav {
    
}
.product__container {
}
.product__body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;

    @media (max-width: 600px) {
        justify-content: center;
        text-align: center;
    }
}
.product__item {
    flex: 0 1 25%;
    padding: 0 2rem;

    &:nth-child(5) {
        margin-top: 1.7rem;
    }

    &:last-child {
        margin-top: -4rem;
    }

    @media (max-width: 992px) {
        flex: 0 1 50%;
        margin-bottom: 3rem;

        &:nth-child(5) {
            margin-top: 0;
        }

        &:last-child {
            margin-top: 0;
        }
    }

    @media (max-width: 600px) {
        flex: 1 1 100%;
    }
}
.product__title {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 123%;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #868686;

    &:hover {
        border-bottom: 1px solid #868686;
    }
}
.product__list {
    margin-top: 3rem;
    li {
        margin-bottom: 1rem;
    }
}
.product__link {
    font-family: 'Commissioner';
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 122%;
    letter-spacing: -0.4px;
    color: #006937;

    &:hover {
        color: #fff;
        background-color: #006937;
        padding-top: 1rem;
    }
}
.product__photo {
    width: 12%;
    position: absolute;
    right: 0;
    bottom: 0;

    img {
        width: 100%;
    }

    @media (max-width: 600px) {
        display: none;
    }
}