.proect {
    margin-top: 4rem;
    position: relative;
}
.proect__container {

}
.proect__body {
    border-radius: 2rem;
    background: #F7F7F7;

    display: flex;
    align-items: center;

    @media (max-width: 647px) {
        flex-wrap: wrap;
        padding-bottom: 24rem;
    }
}
.proect__content {
    padding: 4rem 0 4rem 4rem;
    width: 45%;

    @media (max-width: 647px) {
        width: 100%;
    }
}
.content-proect {
}
.content-proect__suptitle {
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #222222;    

    padding: 5px 15px;
    background: #FFFFFF;
    border-radius: 2rem;
    margin-bottom: 4rem;
    
    max-width: 106px;
    text-align: center;
}
.content-proect__title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 100%;
    color: #222222;
    margin-bottom: 2rem;

    @media (max-width: 893px) {
        font-size: 3.2rem;
    }
}
.content-proect__tex {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #222222;  
    margin-bottom: 2rem;  
}
.content-proect__btn {
}
.btn {
}
.btn--brown-border {
}
.proect__photo {
    position: absolute;
    right: 5rem;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);

    img {
        width: 100%;
    }

    @media (max-width: 893px) {
        width: 90%;
        right: 0;
    }

    @media (max-width: 647px) {
        width: 100%;
        margin-top: 10rem;
        right: 7rem;
    }
}