.proect {
    margin-top: 4rem;
    position: relative;
}
.proect__container {

}
.proect__body {
    border-radius: 2rem;
    background: #F7F7F7;

    display: flex;
    align-items: center;
    padding: 4rem;

    @media (max-width: 647px) {
        flex-wrap: wrap;
        padding: 2rem;
    }
}
.proect__content {
    width: 45%;

    @media (max-width: 647px) {
        width: 100%;
    }
}
.content-proect {
}
.content-proect__suptitle {
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #222222;    

    padding: 5px 15px;
    background: #FFFFFF;
    border-radius: 2rem;
    margin-bottom: 4rem;
    
    max-width: 106px;
    text-align: center;
}
.content-proect__title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 100%;
    color: #222222;
    margin-bottom: 2rem;

    @media (max-width: 893px) {
        font-size: 3.2rem;
    }

    @media (max-width: 444px) {
        font-size: 2.2rem;
    }
}
.content-proect__text {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #222222;  
    margin-bottom: 2rem;  

    @media (max-width: 444px) {
        font-size: 1.4rem;
    }
}
.content-proect__btn {
}
.btn {
}
.btn--brown-border {
}
.proect__photo {
    width: 47%;

    img {
        width: 100%;
    }

    @media (max-width: 647px) {
        width: 100%;
        max-width: 400px;
        margin: auto;
        margin-top: 2rem;
    }
}