.questions {
    margin-top: 12.8rem;
    border-top: 1px solid #D1D1D1;
}
.questions__container {
}
.questions__header {
    margin-bottom: 8rem;
}
.questions__inner {
}
.questions__item {
}
.item-questions {
    border-top: 1px solid rgb(37, 37, 37, .3);
    padding: 2rem 0;

    &:last-child {
        border-bottom: 1px solid rgb(37, 37, 37, .3);
    }
}
.item-questions__title {
    font-size: 2rem;
    line-height: 150%;
    color: #252525;   
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    transition: all .2s linear;

    img {
        margin-right: 2rem;
        transition: all .2s linear;
    }

    &.active {
        img {
            transform: rotate(-45deg);
        }
    }
}
.item-questions__text {
    font-size: 16px;
    line-height: 150%;
    color: #454545;    
    padding-left: 10rem;
    margin-top: 2rem;
    display: none;

    @media (max-width: 675px) {
        padding-left: 7rem;
    }

    @media (max-width: 374px) {
        font-size: 1.4rem;
        padding-left: 6rem;
    }
}