.reviews {
    margin-top: 127px;
    border-top: 1px solid #d1d1d1;
}
.reviews__container {
}
.reviews__header {
    margin-bottom: 8rem;
}
.reviews__inner {
    display: flex;
    margin: auto;
    max-width: 1090px;
}
.reviews__item {
    flex: 0 1 34%;
    padding: 0 44px;
}
.item-reviews {
    text-align: center;

    position: relative;

    &:last-child {
        border-right: 0;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 194px;
        background-color: #C85D4E;

        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 672px) {
            display: none;
        }
    }
}
.item-reviews__name {
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    color: #252525;  
    
    margin-bottom: 0.4rem;
}
.item-reviews__stars {
    display: flex;
    justify-content: center;
    svg {
        width: 13px;
        height: 13px;

        margin-right: 7px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.item-reviews__text {
    font-size: 1.4rem;
    line-height: 150%;
    color: #454545;  
    
    margin-top: 1.8rem;
}
.reviews__btn {
    text-align: center;
    margin-top: 8rem;

    @media (max-width: 672px) {
        margin-top: 5rem;
    }
}
.btn {
}
.btn--sm {
}