.roats {
    margin-top: 8rem;
}
.roats__container {
}
.roats__header {
}
.header-block {
}
.roats__title {
}
.header-block__title {
}
.roats__inner {
    display: flex;
    margin: 2rem -1rem 0;

    @media (max-width: 639px) {
        max-width: 400px;
        margin: 2rem auto 0;
    }

    @media (max-width: 349px) {
        max-width: 200px;
    }
}
.roats__col {
    flex: 0 1 16.666%;
    padding: 0 1rem;
}
.roats__item {
}
.item-roats {
    height: 100%;
    position: relative;
    z-index: 1;
}
.item-roats__photo {
    width: 100%;
    img {
        width: 100%;
        border-radius: 2rem;
    }

    position: relative;
    z-index: 1;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3));

            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            border-radius: 2rem;
        }
}
.item-roats__town {
    font-size: 2rem;
    line-height: calc(24 / 20);
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;  
    font-weight: 700;

    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 2;
}
.item-roats__content {
}
.item-roats__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    z-index: 2;
    width: 100%;
}
.roats__content {
    display: flex;
    justify-content: center;
}
.roats__content-block {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    &:last-child {
        margin-right: 0;
    }
}
.roats__content-icon {
    margin-right: 5px;
}
.roats__content-text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: calc(14 / 12);
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
    text-transform: uppercase;
}

.roats__inner .slick-list {
    overflow: hidden;
}
.roats__inner .slick-track{
    display: flex;
}
.roats__inner .slick-arrow{
    font-size: 0;
}