.service {
    margin-top: 8rem;

    @media (max-width: $mobile) {
        margin-top: 4rem;
    }
}
.service__container {
}
.service__title {
    margin-bottom: 3.5rem;

    @media (max-width: $mobile) {
        margin-bottom: 1.8rem;
    }
}
.service__inner {
    display: flex;
    margin: 0 -2rem;
    flex-wrap: wrap;

    @media (max-width: $ipad) {
        margin: 0 -.9rem;
    }
}
.service__col {
    flex: 0 1 50%;
    min-height: 24rem;
    padding: 0 2rem;
    margin-bottom: 4rem;

    &:last-child {
        .service__item {
            position: relative;
            .service__item-photo {
                position: absolute;
                bottom: 0;
                right: 0;

                @media (max-width: $ipad) {
                    position: static;
                    margin-bottom: -3rem;
                }
            }
        }
    }

    @media (max-width: $ipad) {
        min-height: 16.2rem;
        padding: 0 .9rem;
    }

    @media (max-width: $mobile) {
        min-height: 19.8rem;
        margin-bottom: 1.8rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.service__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    background-color: $secondary;
    border-radius: 2rem;
    padding-left: 2.5rem;

    overflow: hidden;

    @media (max-width: $ipad) {
        flex-direction: column;
        padding: 2rem;
        justify-content: space-between;
    }
}
.service__item-content {
    max-width: 34.3rem;

    @media (max-width: $tablet) {
        max-width: 23rem;
    }

    @media (max-width: $mobile) {
        max-width: 17.6rem;
    }
}
.service__item-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 135%;
    color: $primary;

    @media (max-width: $tablet) {
        font-size: 2rem;
    }

    @media (max-width: $ipad) {
        margin-bottom: 2rem;
        word-break: break-all;
    }

    @media (max-width: $mobile) {
        font-size: 1.8rem;
    }
}
.service__item-text {
    font-size: 1.8rem;
    line-height: 135%;
    color: $primary;

    margin: 1.2rem 0 2.5rem;

    @media (max-width: $tablet) {
        font-size: 1.6rem;
    }

    @media (max-width: $ipad) {
        display: none;
    }

    @media (max-width: $mobile) {
        font-size: 1.2rem;
        margin: 1.2rem 0 1.8rem;
    }
}
.service__item-btn {
    width: 100%;
    max-width: 25rem;

    button {
        width: 100%;
    }

    @media (max-width: $ipad) {
        display: none;
    }

    @media (max-width: $mobile) {
        max-width: 17.8rem;
    }
}
.btn {
}
.btn--white {
}
.service__item-photo {
    width: 35%;
    margin-right: -4rem;

    img {
        width: 100%;
    }

    @media (max-width: $ipad) {
        margin-right: 0;
        width: 100%;

        max-width: 15rem;
        margin: auto;
    }
}