.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 101px;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 9px 0px 63px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(15px);

    padding: 26px 0 34px;
}
.sidebar__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar__circles {
    display: flex;
}
.sidebar__circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;

    &:first-child {
        background: #FF5F57;
    }

    &:nth-child(2) {
        background: #FFBE30;
    }

    &:last-child {
        background: #29C941;
        margin-right: 0;
    }
}
.sidebar__logo {
    margin-top: 39px;
    width: 40px;
    cursor: pointer;
}
.sidebar__decor {
    position: absolute;
    top: 141px;
    left: 0;
    z-index: 2;
}
.sidebar__btn {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}
.sidebar__btn >*:not(:last-child) {
    margin-bottom: 36px;
}
.sidebar__btn-1 {
    width: 24px;
}
.sidebar__bottom {
    
}
.sidebar__bottom >*:not(:last-child) {
    margin-bottom: 32px;
}
.sidebar__bottom-element {
    svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}