.slider {
    margin-top: 4rem;
}
.slider__container {
}
.slider__header {
    display: flex;
    justify-content: space-between;
}
.slider__title {
    @media (max-width: 551px) {
        max-width: 9.9rem;
    }
}
.slider__header-text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #6E5B55;
    margin-right: 2.8rem;

    @media (max-width: 551px) {
        font-size: 1.4rem;
        max-width: 6rem;
        margin-right: 1rem;
    }
}
.slider__inner {
    display: flex;
    margin: 0 -1rem 0;
    position: relative;
}
.slider__item {
    width: 16.666%;
    padding: 0 1rem;
}
.slider__photo {
    margin-bottom: 1rem;
    img {
        width: 100%;
        border-radius: 2rem;
    }
}
.slider__text {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #6E5B55;   
    
    @media (max-width: 551px) {
        font-size: 1.4rem;
    }
}

/*---------------------------------------------------*/

/* Слайдер */
.slick-slider {}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) 
*/.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    width: 18px;
    height: 14px;
    background: none;
    font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    position: absolute;
    right: 0;
    top: -2.3rem;
    font-size: 0;
    cursor: pointer;

    background: url(../assets/img/slider/arrow.svg) center no-repeat;

    @media (max-width: 1024px) {
        top: -2rem;
    }

    @media (max-width: 551px) {
        top: -2.8rem;
    }
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
}
/* Точки (булиты) */
.slick-dots{}.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}