.structure {
    margin-top: -35px;
    position: relative;
    z-index: 5;
    margin-bottom: 132px;
}
.structure__container {
}
.structure__header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 17px;
}
.structure__content {
}
.structure__img {
    margin-left: -100px;
    img {
        position: relative;
    }

    @media (max-width: 992px) {
        max-width: 1000px;
    }

    @media (max-width: 552px) {
        width: 800px;
        img {
            width: 100%;
        }
    }
}
.structure__body {
    width: 100%;
    position: absolute;
    bottom: 20%;
    right: 25%;
    max-width: 230px;
    background: #F6F6F6;
    border-radius: 4px;
    display: flex;

    @media (max-width: 552px) {
        bottom: 7%;
        left: 5%;
    }
}
.body-structure {
    padding: 30px 32px;

    @media (max-width: 745px) {
    }
}
.body-structure__title {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #000000;
    margin-bottom: 17px;

    @media (max-width: 745px) {
    }
}
.body-structure__text {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #000000;   
    
    @media (max-width: 745px) {
        font-size: 16px;
    }
}