.subnav {
    display: none;
    width: 245px;

    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 4px;
    padding-top: 22px;

    li {
        margin-bottom: 22px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 605px) {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.subnav__link {
    display: block;
    font-size: 14px;
    line-height: 124.5%;
    color: #000000;    

    @media (max-width: 605px) {
        font-size: 20px;
    }
}