.subnav {
    display: none;
    width: 245px;
    background-color: #F6F6F6;

    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px 10px 15px 20px;
    border-radius: 4px;
    margin-top: 22px;

    li {
        margin-bottom: 22px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:before{
        content: "";
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid #F6F6F6;

        position: absolute;
        top: -18px;
        left: 37px;
    }
}

.subnav__link {
    display: block;
    font-size: 14px;
    line-height: 124.5%;
    color: #000000;    
}