.header {
    padding: 50px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    flex: 1 1 72px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(28 / 24);
    
    color: #203239;

    span {
        font-style: italic;
        font-size: 36px;
        line-height: calc(42 / 36);
    }
}
.header__nav {
    flex: 0 1 48%;

    @media (max-width: 631px) {
        flex: 0 1 65%;
    }

    @media (max-width: 462px) {
        display: none;
    }
}
.nav {
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    font-weight: 300;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #203239;
    position: relative;

    &:hover {
        font-weight: 600;
    }

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: #F6762E;

        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        transform: translateX(50%);
        transition: all .2s linear;
    }

    &:hover {
        &:after {
            width: 50%;
        }
    }
}