@charset "UTF-8";
html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  background: none;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

address {
  font-style: normal;
}

/* Import */
.header {
  min-height: 13.5rem;
  position: relative;
  z-index: 1000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav li {
  margin-right: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav li:last-child {
  margin-right: 0;
}
.header__nav li:last-child .header__link {
  pointer-events: none;
}
.header__nav li:last-child .header__link:hover {
  color: #fff;
}

.header__link {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #fff;
}
.header__link:hover {
  color: #E1202E;
}

.header__contacts {
  background: #E1202E;
  border-radius: 0px 0px 1.1rem 1.1rem;
  padding: 4.4rem 3.5rem;
}

.header__phone {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2380952381;
  color: #fff;
}

.header__suptitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #fff;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E1202E;
  border-radius: 0.4rem;
  width: 4rem;
  height: 4rem;
  margin-left: 1.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__social:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header__decor {
  position: absolute;
  top: -90%;
  right: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.intro__content {
  max-width: 88.2rem;
}

.intro__title {
  font-weight: 900;
  font-size: 5.5rem;
  line-height: 135%;
  text-transform: uppercase;
  color: #fff;
  max-width: 71.1rem;
}
.intro__title span {
  background-color: #E1202E;
  padding: 0 1.9rem;
}

.intro__text {
  margin: 2.5rem 0 4.5rem;
  max-width: 67.2rem;
}

.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__button {
  margin-right: 3.5rem;
}
.intro__button:last-child {
  margin-right: 0;
}

.intro__road {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.intro__car {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(60%, 50%);
          transform: translate(60%, 50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.intro__car._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.intro__decor {
  position: absolute;
  top: 10.4rem;
  right: -7.4rem;
}

.btn {
  min-height: 7rem;
  border-radius: 0.5rem;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  color: #fff;
  padding: 0 2.4rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  overflow: hidden;
}
.btn--red {
  background-color: #E1202E;
}
.btn--red:hover {
  background-color: #b61824;
}
.btn--border {
  border: 0.1rem solid #fff;
}
.btn--border:hover {
  background-color: #fff;
  color: #000;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, hsla(0deg, 0%, 100%, 0.1)), color-stop(20%, hsla(0deg, 0%, 100%, 0.2)), to(hsla(0deg, 0%, 100%, 0.6)));
  background: linear-gradient(90deg, hsla(0deg, 0%, 100%, 0.1) 10%, hsla(0deg, 0%, 100%, 0.2) 20%, hsla(0deg, 0%, 100%, 0.6));
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  left: -20%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-animation-name: blick;
  animation-name: blick;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blick {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes blick {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
.info {
  padding-top: 21.4rem;
  position: relative;
  padding-bottom: 8rem;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__photo {
  width: 50%;
  position: relative;
}
.info__photo img {
  width: 100%;
}

.info__photo-block {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.info__photo-block img {
  width: 100%;
}

.info__photo-decor {
  position: absolute;
  top: 8rem;
  right: 5rem;
  z-index: -1;
}

.info__woman {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}

.info__title {
  margin-bottom: 1.8rem;
}

.info__list {
  margin-top: 3.5rem;
}
.info__list li {
  max-width: 55rem;
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__list li:last-child {
  margin-bottom: 0;
}

.info__list-disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.7rem;
  height: 2.5rem;
  margin-right: 2.5rem;
}

.info__list-text {
  font-size: 2.4rem;
  line-height: 135%;
  color: #fff;
}

.info__decor-1 {
  position: absolute;
  left: -10rem;
  top: 0;
}

.info__decor-2 {
  position: absolute;
  top: 25rem;
  left: -3rem;
}

.info__decor-3 {
  position: absolute;
  bottom: 0;
  right: -6rem;
}

.info__btn {
  margin-top: 4.5rem;
}

.choose {
  width: 100%;
  height: 100%;
  background: url("/assets/img/choose/bg.webp") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding: 8rem 0 5.5rem;
  height: 81.2rem;
  position: relative;
}

.choose__container {
  position: relative;
  height: 100%;
}

.choose__content {
  position: absolute;
  top: 0;
  right: 17.5rem;
}

.choose__text {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 135%;
  color: #fff;
  max-width: 50rem;
  margin-bottom: 2.5rem;
}

.choose__subtitle {
  font-size: 2rem;
  line-height: 135%;
  color: #fff;
  max-width: 42.9rem;
  position: relative;
  padding-left: 2.5rem;
}
.choose__subtitle:before {
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: #E1202E;
  position: absolute;
  left: 0;
  top: 0;
}

.choose__photo {
  position: absolute;
  bottom: 0;
}
.choose__photo:first-child {
  left: 0;
}
.choose__photo:last-child {
  right: 0;
}

.choose__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.quiz {
  padding-top: 8rem;
  margin-bottom: 10rem;
}

.quiz__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4.5rem -2rem 0;
}

.quiz__col {
  min-height: 13rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 0 2rem;
}

.quiz__item {
  background: #242424;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  padding-top: 2rem;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}
.quiz__item:hover {
  background-color: #E1202E;
  -webkit-transform: translateY(-1.4rem);
          transform: translateY(-1.4rem);
}
.quiz__item:hover .quiz__item-suptitle {
  color: #fff;
}
.quiz__item:hover .quiz__item-photo img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.quiz__item:hover:after {
  opacity: 1;
}
.quiz__item:after {
  background: #928888;
  -webkit-filter: blur(14.5px);
          filter: blur(14.5px);
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: -5rem;
  left: 0;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.quiz__item-suptitle {
  font-size: 1.8rem;
  line-height: 135%;
  text-align: center;
  color: #5B5B5B;
}

.quiz__item-photo {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.quiz__item-photo img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.quiz__slider {
  margin-top: 5.1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz__text {
  max-width: 50rem;
  margin-right: 18.5rem;
}
.quiz__text p {
  margin-bottom: 2.5rem;
}
.quiz__text p:last-child {
  margin-bottom: 0;
}

.quiz__photo {
  max-width: 38.2rem;
  height: 38.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quiz__photo img {
  width: 100%;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) 
*/
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  width: 6rem;
  height: 6rem;
  z-index: 10;
  cursor: pointer;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("/assets/img/quiz/arrow-left.svg");
  background-size: cover;
  -webkit-background-size: cover;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("/assets/img/quiz/arrow-right.svg");
  background-size: cover;
  -webkit-background-size: cover;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.online {
  width: 100%;
  background-color: #242424;
  overflow: hidden;
  max-height: 43.6rem;
  padding: 8rem 0;
}

.online__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.online__photo {
  max-width: 41.4rem;
}
.online__photo img {
  width: 100%;
}

.online__content {
  max-width: 68.2rem;
}

.online__title {
  margin-bottom: 3.5rem;
}

.result {
  padding: 8rem 0;
}

.result__title {
  margin-bottom: 5.5rem;
}

.result__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5rem;
}

.result__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  padding: 0 5rem;
}

.result__btn {
  margin-top: 4.5rem;
  text-align: center;
}

.drive {
  width: 100%;
  background-color: #242424;
  position: relative;
  height: 50.8rem;
  padding: 8rem 0;
}

.drive__photo {
  position: absolute;
  bottom: 0;
  left: 0;
}

.drive__content {
  max-width: 61.6rem;
  margin-left: auto;
}

.education {
  width: 100%;
  height: 100%;
  background: url("../img/education/bg.webp") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  padding: 8rem 0;
}
.education:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.87);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  position: absolute;
  top: -0.1rem;
  left: 0;
  z-index: 2;
}

.education__container {
  position: relative;
  z-index: 3;
  text-align: center;
}

.education__title {
  margin-bottom: 4.5rem;
}

.education__body {
  max-width: 91rem;
  margin: auto;
}

.education__video iframe {
  width: 100%;
  min-height: 52.6rem;
  background: #242424;
  border-radius: 1rem;
  padding: 1.5rem;
}

.education__btn {
  margin-top: 6rem;
}

/* Fonts */
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Black.woff2") format("woff2"), url("/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Контейнер */
[class*=__container] {
  width: 100%;
  padding: 0 1.5rem;
  margin: auto;
  max-width: 1310px;
}

/* BEM */
.text-block {
  font-size: 2.4rem;
  line-height: 135%;
  color: #FFFFFF;
}

.title-block {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 125%;
  color: #fff;
}
.title-block span {
  background-color: #E1202E;
  padding: 0 1.7rem;
}