@charset "UTF-8";
html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  background: none;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

address {
  font-style: normal;
}

[class*=__container] {
  width: 100%;
  padding: 0 1.5rem;
  margin: auto;
  max-width: 131rem;
}

.header {
  min-height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .header {
    min-height: 6.2rem;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 1rem;
  z-index: 10001;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 15rem;
  }
  .header__logo img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: 12.3rem;
  }
}

@media (max-width: 768px) {
  .header__nav {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #fff;
    padding-top: 9.7rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header__nav.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list li {
  margin-right: 7.5rem;
}
.header__list li:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .header__list li {
    margin-right: 4rem;
  }
}
@media (max-width: 1024px) {
  .header__list li {
    margin-right: 1.5rem;
  }
}
@media (max-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__list li {
    margin-bottom: 2.5rem;
    margin-right: 0;
  }
}

.header__link {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  white-space: nowrap;
}
.header__link:hover {
  color: #FF6C4F;
}
@media (max-width: 1024px) {
  .header__link {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .header__link {
    font-size: 1.6rem;
  }
}

.header__mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__mobile .header__btn {
    display: block;
    margin-top: 2.5rem;
    width: 17.8rem;
  }
  .header__mobile .header__btn button {
    font-size: 1.4rem;
    min-height: 4rem;
  }
}

.header__mobile-phone {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  margin-bottom: 0.5rem;
}

.header__mobile-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

.header__mobile-text {
  font-size: 1.4rem;
  line-height: 1.2857142857;
  color: #1B263B;
}

.header__mobile-btn {
  font-size: 1.4rem;
  line-height: 1.2857142857;
  color: #FFFFFF;
  display: block;
  margin-top: 3.6rem;
}

.header__contacts {
  margin: 0 1rem;
  white-space: nowrap;
}

.header__phone {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #FF6C4F;
  margin-bottom: 0.8rem;
}
@media (max-width: 1024px) {
  .header__phone {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .header__phone {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
}

.header__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__place-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.8rem;
}
@media (max-width: 576px) {
  .header__place-icon {
    width: 1rem;
    margin-right: 0.3rem;
  }
  .header__place-icon img {
    width: 100%;
  }
}

.header__place-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #FF6C4F;
}
@media (max-width: 1024px) {
  .header__place-text {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .header__place-text {
    font-size: 1rem;
  }
}

.header__btn {
  width: 100%;
  max-width: 20.5rem;
}
.header__btn button {
  width: 100%;
}
@media (max-width: 1024px) {
  .header__btn {
    max-width: 16rem;
  }
}
@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__menu {
  background-color: #FF6C4F;
  width: 3.2rem;
  height: 3.2rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  z-index: 10001;
}
.header__menu.active .header__burger span {
  display: none;
}
.header__menu.active .header__burger:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
.header__menu.active .header__burger:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}
@media (max-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__burger {
  z-index: 10001;
}

.header__burger {
  position: relative;
  width: 1.8rem;
  height: 1rem;
  z-index: 1000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__burger:after, .header__burger:before,
.header__burger span {
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__burger:before {
  content: "";
  top: -3px;
}
.header__burger:after {
  content: "";
  bottom: -3px;
}
.header__burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn {
  min-height: 5rem;
  border-radius: 0.5rem;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn--orange {
  background-color: #FF6C4F;
  color: #fff;
}
.btn--orange:hover {
  background-color: #ff5736;
}
.btn--white {
  color: #FF6C4F;
  border: 0.1rem solid #FF6C4F;
}
.btn--white:hover {
  background-color: #FF6C4F;
  color: #fff;
}
@media (max-width: 576px) {
  .btn {
    font-size: 1.4rem;
  }
}

.intro__main {
  background-color: #F7F7F7;
  position: relative;
}
@media (max-width: 768px) {
  .intro__main {
    padding-top: 4rem;
  }
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__body .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  min-height: 7.6rem;
  padding: 0 1.8rem;
  border-radius: 0;
  background: #F7F7F7;
  border-radius: 10px;
}
.intro__body .swiper-pagination-bullet.active .intro__item {
  -webkit-box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
          box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
}
.intro__body .swiper-pagination-bullet:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__body .swiper-pagination-bullet:first-child:before {
  content: "ОСАГО";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
}
.intro__body .swiper-pagination-bullet:first-child:after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/car.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__body .swiper-pagination-bullet:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__body .swiper-pagination-bullet:nth-child(2):before {
  content: "КАСКО";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
}
.intro__body .swiper-pagination-bullet:nth-child(2):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/kasko.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__body .swiper-pagination-bullet:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__body .swiper-pagination-bullet:nth-child(3):before {
  content: "Ипотека";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
}
.intro__body .swiper-pagination-bullet:nth-child(3):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/home.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__body .swiper-pagination-bullet:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__body .swiper-pagination-bullet:nth-child(4):before {
  content: "Недвижимость";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
}
.intro__body .swiper-pagination-bullet:nth-child(4):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/bildings.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__body .swiper-pagination-bullet:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__body .swiper-pagination-bullet:nth-child(5):before {
  content: "Жизнь";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
}
.intro__body .swiper-pagination-bullet:nth-child(5):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/life.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__body .swiper-pagination-bullet-active {
  background: #F7F7F7;
  -webkit-box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
          box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
  border-radius: 10px;
}

.intro__body .swiper-pagination-bullet-active {
  background: #F7F7F7;
  -webkit-box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
          box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
  border-radius: 10px;
}

.intro__body .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem -1.8rem 0;
}

.intro__item {
  border-radius: 1rem;
  background-color: #F7F7F7;
  height: 100%;
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}
.intro__item:hover {
  -webkit-box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
          box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
}

.intro__dot-icon {
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__slider.swiper-slide.swiper-slide-active {
  width: 100% !important;
}

.intro__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro__block:nth-child(2) .intro__photo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
@media (max-width: 768px) {
  .intro__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.intro__content {
  max-width: 46rem;
}
@media (max-width: 1024px) {
  .intro__content {
    max-width: 38rem;
  }
}
@media (max-width: 576px) {
  .intro__content {
    max-width: 26.2rem;
  }
}

.intro__title {
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 125%;
  color: #1B263B;
  margin-bottom: 1.8rem;
}
@media (max-width: 1024px) {
  .intro__title {
    font-size: 4rem;
  }
}
@media (max-width: 576px) {
  .intro__title {
    font-size: 2.8rem;
  }
}

.intro__text {
  font-size: 2rem;
  line-height: 135%;
  color: #1B263B;
  margin-bottom: 3.4rem;
}
@media (max-width: 576px) {
  .intro__text {
    font-size: 1.4rem;
  }
}

.intro__btn {
  width: 100%;
  max-width: 25rem;
}
.intro__btn button {
  width: 100%;
}
@media (max-width: 576px) {
  .intro__btn {
    max-width: 17.8rem;
  }
}

.intro__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  height: 100%;
}
.intro__photo img {
  width: 100%;
}
@media (max-width: 768px) {
  .intro__photo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 40rem;
  }
}

.dots {
  margin-top: 2.5rem;
}

.dot {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  background: #F7F7F7;
  margin-right: 3.6rem;
  border-radius: 1rem;
  min-height: 7.6rem;
  padding: 0 2.5rem;
  cursor: pointer;
}
.dot:last-child {
  margin-right: 0;
}
@media (max-width: 576px) {
  .dot {
    min-height: 5.5rem;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
  }
}
.dot:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dot:first-child:before {
  content: "ОСАГО";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  margin-right: 1.5rem;
}
@media (max-width: 576px) {
  .dot:first-child:before {
    font-size: 1.2rem;
  }
}
.dot:first-child:after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/car.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .dot:first-child:after {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 2rem;
  }
}
.dot:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dot:nth-child(2):before {
  content: "КАСКО";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  margin-right: 1.5rem;
}
@media (max-width: 576px) {
  .dot:nth-child(2):before {
    font-size: 1.2rem;
  }
}
.dot:nth-child(2):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/kasko.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .dot:nth-child(2):after {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 2rem;
  }
}
.dot:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dot:nth-child(3):before {
  content: "Ипотека";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  margin-right: 1.5rem;
}
@media (max-width: 576px) {
  .dot:nth-child(3):before {
    font-size: 1.2rem;
  }
}
.dot:nth-child(3):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/home.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .dot:nth-child(3):after {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 2rem;
  }
}
.dot:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dot:nth-child(4):before {
  content: "Недвижимость";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  margin-right: 1.5rem;
}
@media (max-width: 576px) {
  .dot:nth-child(4):before {
    font-size: 1.2rem;
  }
}
.dot:nth-child(4):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/bildings.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .dot:nth-child(4):after {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 2rem;
  }
}
.dot:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dot:nth-child(5):before {
  content: "Жизнь";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #1B263B;
  margin-right: 1.5rem;
}
@media (max-width: 576px) {
  .dot:nth-child(5):before {
    font-size: 1.2rem;
  }
}
.dot:nth-child(5):after {
  content: "";
  width: 4.2rem;
  height: 4.2rem;
  background-color: #E9E9E9;
  border-radius: 50%;
  background: url("/assets/img/intro/life.svg") center #E9E9E9;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .dot:nth-child(5):after {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 2rem;
  }
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dots::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
@media (max-width: 1200px) {
  .dots {
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 1200px) {
  .dot {
    white-space: nowrap;
  }
}

.dot_active {
  -webkit-box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
          box-shadow: 0px 12px 18px rgba(41, 41, 41, 0.13);
}

.service {
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .service {
    margin-top: 4rem;
  }
}
@media (max-width: 576px) {
  .service {
    margin-top: 4rem;
  }
}

.service__title {
  margin-bottom: 3.5rem;
}
@media (max-width: 576px) {
  .service__title {
    margin-bottom: 1.8rem;
  }
}

.service__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .service__inner {
    margin: 0 -0.9rem;
  }
}

.service__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 24rem;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
.service__col:last-child .service__item {
  position: relative;
}
.service__col:last-child .service__item .service__item-photo {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .service__col:last-child .service__item .service__item-photo {
    position: static;
    margin-bottom: -3rem;
  }
}
@media (max-width: 768px) {
  .service__col {
    min-height: 16.2rem;
    padding: 0 0.9rem;
  }
}
@media (max-width: 576px) {
  .service__col {
    min-height: 19.8rem;
    margin-bottom: 1.8rem;
  }
  .service__col:last-child {
    margin-bottom: 0;
  }
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background-color: #F7F7F7;
  border-radius: 2rem;
  padding-left: 2.5rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .service__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.service__item-content {
  max-width: 34.3rem;
}
@media (max-width: 1024px) {
  .service__item-content {
    max-width: 23rem;
  }
}
@media (max-width: 576px) {
  .service__item-content {
    max-width: 17.6rem;
  }
}

.service__item-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 135%;
  color: #1B263B;
}
@media (max-width: 1200px) {
  .service__item-title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .service__item-title {
    margin-bottom: 2rem;
    word-break: break-all;
  }
}
@media (max-width: 576px) {
  .service__item-title {
    font-size: 1.8rem;
  }
}

.service__item-text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #1B263B;
  margin: 1.2rem 0 2.5rem;
}
@media (max-width: 1200px) {
  .service__item-text {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .service__item-text {
    display: none;
  }
}
@media (max-width: 576px) {
  .service__item-text {
    font-size: 1.2rem;
    margin: 1.2rem 0 1.8rem;
  }
}

.service__item-btn {
  width: 100%;
  max-width: 25rem;
}
.service__item-btn button {
  width: 100%;
}
@media (max-width: 768px) {
  .service__item-btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .service__item-btn {
    max-width: 17.8rem;
  }
}

.service__item-photo {
  width: 35%;
  margin-right: -4rem;
}
.service__item-photo img {
  width: 100%;
}
@media (max-width: 768px) {
  .service__item-photo {
    margin-right: 0;
    width: 100%;
    max-width: 15rem;
    margin: auto;
  }
}

.advantages {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .advantages {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .advantages {
    margin-top: 8rem;
  }
}

.advantages__title {
  margin-bottom: 3.5rem;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 2rem;
  min-height: 14.2rem;
  margin-bottom: 3.5rem;
}
@media (max-width: 1024px) {
  .advantages__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 768px) {
  .advantages__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .advantages__col {
    min-height: 9.7rem;
    margin-bottom: 1.8rem;
  }
  .advantages__col:last-child {
    margin-bottom: 0;
  }
}

.advantages__item {
  background-color: #F7F7F7;
  padding: 0 3.5rem;
  height: 100%;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .advantages__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 576px) {
  .advantages__item {
    padding: 2rem;
  }
}

.advantages__icon-block {
  background-color: #E9E9E9;
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}
@media (max-width: 576px) {
  .advantages__icon-block {
    margin-right: 2rem;
    width: 5.7rem;
    height: 5.7rem;
  }
  .advantages__icon-block img {
    width: 3.5rem;
  }
}

.advantages__text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #000;
  max-width: 21.3rem;
}
.advantages__text span {
  font-weight: 700;
}
@media (max-width: 1200px) {
  .advantages__text {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .advantages__text {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .advantages__text {
    font-size: 1.4rem;
    max-width: 17.6rem;
  }
}

.advantages {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .advantages {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .advantages {
    margin-top: 8rem;
  }
}

.advantages__title {
  margin-bottom: 3.5rem;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 2rem;
  min-height: 14.2rem;
  margin-bottom: 3.5rem;
}
@media (max-width: 1024px) {
  .advantages__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 768px) {
  .advantages__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .advantages__col {
    min-height: 9.7rem;
    margin-bottom: 1.8rem;
  }
  .advantages__col:last-child {
    margin-bottom: 0;
  }
}

.advantages__item {
  background-color: #F7F7F7;
  padding: 0 3.5rem;
  height: 100%;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .advantages__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 576px) {
  .advantages__item {
    padding: 2rem;
  }
}

.advantages__icon-block {
  background-color: #E9E9E9;
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}
@media (max-width: 576px) {
  .advantages__icon-block {
    margin-right: 2rem;
    width: 5.7rem;
    height: 5.7rem;
  }
  .advantages__icon-block img {
    width: 3.5rem;
  }
}

.advantages__text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #000;
  max-width: 21.3rem;
}
.advantages__text span {
  font-weight: 700;
}
@media (max-width: 1200px) {
  .advantages__text {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .advantages__text {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .advantages__text {
    font-size: 1.4rem;
    max-width: 17.6rem;
  }
}

.about {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .about {
    margin-top: 0;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #F7F7F7;
  border-radius: 2rem;
  padding: 0 8rem 0 6rem;
}
@media (max-width: 1024px) {
  .about__body {
    padding: 0 3rem;
  }
}
@media (max-width: 768px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 576px) {
  .about__body {
    padding: 2.5rem 2.5rem 0;
  }
}

.about__content {
  width: 50%;
  padding: 6rem 0;
}
@media (max-width: 768px) {
  .about__content {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about__content {
    padding: 0;
  }
}

.about__title {
  margin-bottom: 3.5rem;
}
@media (max-width: 576px) {
  .about__title {
    margin-bottom: 1.4rem;
  }
}

.about__text {
  font-size: 2.4rem;
  line-height: 135%;
}
.about__text span {
  font-weight: 700;
}
.about__text p {
  margin-bottom: 3.5rem;
}
.about__text p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .about__text {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .about__text {
    font-size: 1.4rem;
  }
  .about__text p {
    margin-bottom: 1.4rem;
  }
}

.about__photo {
  width: 50%;
}
.about__photo img {
  width: 100%;
}
@media (max-width: 768px) {
  .about__photo {
    width: 100%;
    margin: auto;
    max-width: 40rem;
  }
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5rem;
  width: 100%;
  white-space: nowrap;
  margin: 3.5rem -2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1024px) {
  .about__inner {
    overflow: auto;
  }
  .about__inner::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}
@media (max-width: 576px) {
  .about__inner {
    margin: 2.4rem -1rem 0;
  }
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  text-align: center;
  white-space: nowrap;
  padding: 0 2rem;
}
.about__item picture {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.about__item img {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 11rem;
    padding: 0 1rem;
  }
  .about__item img {
    width: 100%;
  }
}

.about__brands .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news {
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .news {
    margin-top: 4rem;
  }
}

.news__container {
  max-width: 135rem;
  position: relative;
}

.news__title {
  margin-bottom: 3.5rem;
  margin-left: 2rem;
}
@media (max-width: 576px) {
  .news__title {
    margin-bottom: 1.8rem;
  }
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 2rem;
}
@media (max-width: 576px) {
  .news__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    padding: 0 0.9rem;
  }
}

.news__item {
  background-color: #F7F7F7;
  border-radius: 2rem;
  padding: 3.5rem;
}
@media (max-width: 576px) {
  .news__item {
    padding: 2.5rem;
  }
}

.news__photo source {
  border-radius: 2rem;
}
.news__photo img {
  border-radius: 2rem;
}
@media (max-width: 576px) {
  .news__photo img {
    width: 100%;
  }
}

.news__content {
  margin-top: 2.5rem;
}
@media (max-width: 576px) {
  .news__content {
    margin-top: 1.8rem;
  }
}

.news__date {
  font-size: 1.4rem;
  line-height: 135%;
  color: #828282;
  margin-bottom: 0.8rem;
}
@media (max-width: 576px) {
  .news__date {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.news__content-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 135%;
  color: #1B263B;
  margin-bottom: 0.8rem;
}
@media (max-width: 576px) {
  .news__content-title {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
}

.news__content-text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #1B263B;
  margin-bottom: 1.2rem;
}
@media (max-width: 576px) {
  .news__content-text {
    font-size: 1.2rem;
  }
}

.news__content-link {
  font-size: 1.8rem;
  line-height: 135%;
  color: #FF6C4F;
  border-bottom: 1px solid #FF6C4F;
}
.news__content-link:hover {
  border-bottom: 0;
}
@media (max-width: 576px) {
  .news__content-link {
    font-size: 1.2rem;
  }
}

.news__container .swiper-button-prev:after {
  content: "";
  font-size: 0;
}

.news__container .swiper-button-next:after {
  content: "";
  font-size: 0;
}

.news__col.swiper-slide {
  width: 100% !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 2.5rem !important;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 2.5rem !important;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 1024px) {
  .swiper-navigation {
    display: none;
  }
}

.contacts {
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .contacts {
    margin-top: 4rem;
  }
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F7F7;
  border-radius: 2rem;
  padding: 6rem 2rem 0 6rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 768px) {
  .contacts__body {
    padding: 2.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__photo {
  width: 50%;
  margin-right: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.contacts__photo img {
  width: 100%;
  max-width: 55.8rem;
}
.contacts__photo source {
  width: 100%;
  max-width: 55.8rem;
}
@media (max-width: 768px) {
  .contacts__photo {
    display: none;
  }
}

.contacts__content {
  width: 50%;
  padding-bottom: 3rem;
}
@media (max-width: 768px) {
  .contacts__content {
    width: 100%;
  }
}

.contacts__header {
  max-width: 51.9rem;
}

.contacts__text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #000;
  margin: 0.8rem 0 2.5rem;
}
@media (max-width: 576px) {
  .contacts__text {
    font-size: 1.4rem;
    margin: 1.4rem 0 1.8rem;
  }
}

.contacts__form {
  margin-bottom: 2.5rem;
  max-width: 47.1rem;
}

.contacts__form-item {
  margin-bottom: 2.5rem;
}
.contacts__form-item:last-child {
  margin-bottom: 0;
}
.contacts__form-item label {
  font-size: 1.6rem;
  font-family: "Cera Pro", sans-serif;
  line-height: 135%;
  display: block;
  margin-bottom: 0.8rem;
}
@media (max-width: 576px) {
  .contacts__form-item label {
    font-size: 1.4rem;
  }
}
.contacts__form-item input {
  min-height: 5rem;
  width: 100%;
  background: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 0.5rem;
  display: block;
  font-family: "Cera Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 135%;
  color: #1B263B;
  padding: 0 2rem;
  outline: 0;
}
.contacts__form-item input:focus {
  border: 0.1rem solid #FF6C4F;
}
@media (max-width: 576px) {
  .contacts__form-item input {
    font-size: 1.4rem;
    min-height: 4rem;
    padding: 0 1.5rem;
  }
}
@media (max-width: 576px) {
  .contacts__form-item {
    margin-bottom: 1.8rem;
  }
}

.contacts__politic {
  font-size: 1.6rem;
  line-height: 135%;
  color: #1B263B;
  max-width: 44.1rem;
}
.contacts__politic a {
  color: #FF6C4F;
  border-bottom: 1px solid #FF6C4F;
}
@media (max-width: 576px) {
  .contacts__politic {
    font-size: 1.2rem;
  }
}

.contacts__btn {
  width: 100%;
  max-width: 25rem;
  margin-top: 2.5rem;
}
.contacts__btn button {
  width: 100%;
}
@media (max-width: 576px) {
  .contacts__btn {
    max-width: 100%;
  }
}

.place {
  margin: 8rem auto;
  max-width: 1310px;
}
@media (max-width: 1200px) {
  .place {
    margin-top: 4rem;
  }
}
@media (max-width: 769px) {
  .place {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .place {
    margin: 4rem 0 0;
  }
}

.place__title {
  margin-bottom: 3.5rem;
}
@media (max-width: 769px) {
  .place__title {
    margin-left: 2.5rem;
  }
}

.place__inner {
  position: relative;
}

.place__map {
  width: 100%;
  height: 52rem;
}
@media (max-width: 992px) {
  .place__map {
    height: 61.5rem;
  }
}

[class*=ground-pane] {
  -webkit-filter: grayscale(100%);
}

.place__content {
  width: 100%;
  max-width: 44.2rem;
  background-color: #242424;
  padding: 3.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3.5rem;
  z-index: 10;
}
@media (max-width: 992px) {
  .place__content {
    top: 2.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  .place__content {
    max-width: 32.5rem;
  }
}

.place__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.place__content-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .place__content-item {
    margin-bottom: 2rem;
  }
}

.place__content-icon {
  margin-right: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 769px) {
  .place__content-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.place__content-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2777777778;
  color: #fff;
}
@media (max-width: 992px) {
  .place__content-name {
    font-size: 1.4rem;
  }
}

.place__content-text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #fff;
  margin-top: 1.2rem;
}
@media (max-width: 992px) {
  .place__content-text {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}

.footer {
  margin-top: 8rem;
  background-color: #F7F7F7;
  padding: 4rem 0 0;
}
.footer:after {
  content: "";
  width: 100%;
  height: 5.3rem;
  background-color: #E9E9E9;
  display: block;
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .footer {
    margin-top: 0;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -1rem;
}
@media (max-width: 1024px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.footer__item {
  padding: 0 1rem;
}
@media (max-width: 1024px) {
  .footer__item {
    margin-bottom: 2.5rem;
    padding: 0;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .footer__logo {
    width: 12.3rem;
  }
  .footer__logo img {
    width: 100%;
  }
}

.footer__list li {
  margin-bottom: 1.4rem;
}
.footer__list li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .footer__list li {
    margin-bottom: 1.2rem;
  }
}

.footer__link {
  font-size: 1.6rem;
  line-height: 135%;
  color: #1B263B;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer__link:hover {
  color: #FF6C4F;
}

.footer__text {
  font-size: 1.6rem;
  line-height: 135%;
  color: #1B263B;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.8rem;
}

.footer__social {
  background-color: #DCDCDC;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-right: 1.2rem;
}
.footer__social:last-child {
  margin-right: 0;
}
.footer__social:hover {
  background-color: #FF6C4F;
}

.footer__button {
  width: 100%;
  max-width: 25rem;
}
.footer__button button {
  width: 100%;
}
@media (max-width: 1024px) {
  .footer__button {
    max-width: 100%;
  }
}

.decrioption {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  padding: 0 8rem;
}
.decrioption.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decrioption__body {
  background-color: #F7F7F7;
  width: 100%;
  margin: auto;
  min-height: 48.3rem;
  border-radius: 2rem;
  padding: 6rem 0 6rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.decrioption__content {
  max-width: 70rem;
}

.decrioption__title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 135%;
  color: #1B263B;
  margin-bottom: 1.8rem;
}

.decrioption__text {
  font-size: 1.8rem;
  line-height: 135%;
  color: #000;
  margin-bottom: 2.5rem;
}

.decrioption__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decrioption__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 1.7rem;
}
.decrioption__col:last-child {
  margin-right: 0;
}

.decrioption__item {
  background-color: #fff;
  padding: 1.7rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.decrioption__item-icon {
  background-color: #F7F7F7;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.decrioption__item-icon img {
  width: 2.5rem;
}

.decrioption__item-text {
  font-size: 1.4rem;
  line-height: 1.2857142857;
  color: #1B263B;
  margin-left: 1.7rem;
}
.decrioption__item-text span {
  font-weight: 700;
  display: block;
}

.decrioption__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

.decrioption__button {
  margin-right: 2.5rem;
  width: 100%;
  max-width: 25rem;
}
.decrioption__button button {
  width: 100%;
}
.decrioption__button:last-child {
  margin-right: 0;
}

.decrioption__photo {
  max-width: 54rem;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.decrioption__photo source {
  width: 100%;
}
.decrioption__photo img {
  width: 100%;
}

.calc {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 8rem;
}

.calc__body {
  background-color: #fff;
  width: 100%;
  margin: auto;
  min-height: 48.3rem;
  border-radius: 2rem;
  padding: 6rem;
  position: relative;
}

.calc__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

.calc__back {
  margin-right: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 135%;
  color: #1B263B;
}

.calc__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calc__item.active .calc__value {
  background-color: #FF6C4F;
}

.calc__value {
  font-weight: 700;
  font-size: 5rem;
  line-height: 135%;
  color: #E9E9E9;
  background-color: #F7F7F7;
  border-radius: 50%;
  width: 8.5rem;
  height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calc__item-text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 135%;
  margin-top: 2rem;
}

.calc__content {
  margin-top: 3.5rem;
  padding: 3.5rem;
  border-radius: 2rem;
  background-color: #F7F7F7;
  display: none;
}
.calc__content.active {
  display: block;
}

.calc__content-title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 135%;
  color: #1B263B;
  margin-bottom: 2.5rem;
}

.calc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calc__form-item:first-child {
  max-width: 72.4rem;
  width: 100%;
  margin-right: 3.5rem;
}
.calc__form-item:last-child {
  max-width: 47.1rem;
  width: 100%;
}
.calc__form-item label {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 135%;
  display: block;
}
.calc__form-item select {
  display: block;
  width: 100%;
  min-height: 7rem;
  margin-top: 1.4rem;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #1B263B;
  line-height: 135%;
  padding: 0 2.3rem;
  outline: 0;
  border-radius: 0.5rem;
  border: 1px solid #AEAEAE;
  background-color: #fff;
}
.calc__form-item select:focus {
  border: 0.1rem solid #FF6C4F;
}
.calc__form-item input {
  display: block;
  width: 100%;
  min-height: 7rem;
  margin-top: 1.4rem;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #1B263B;
  line-height: 135%;
  padding: 0 2.3rem;
  outline: 0;
  border-radius: 0.5rem;
  border: 1px solid #AEAEAE;
  background-color: #fff;
}
.calc__form-item input:focus {
  border: 0.1rem solid #FF6C4F;
}
.calc__form-item option {
  display: block;
  width: 100%;
  min-height: 7rem;
}

.calc__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5rem;
}

.calc__button {
  max-width: 28.9rem;
  width: 100%;
  margin-right: 2.5rem;
}
.calc__button:last-child {
  margin-right: 0;
}
.calc__button button {
  width: 100%;
  min-height: 7rem;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  z-index: 10010;
  display: none;
  padding: 0 2.5rem;
}
.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__dialog {
  max-width: 56rem;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  padding: 6rem;
  position: relative;
}
@media (max-width: 576px) {
  .modal__dialog {
    padding: 4rem 2.5rem;
  }
}

.modal__close {
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
}
@media (max-width: 576px) {
  .modal__close {
    top: 2rem;
    right: 2rem;
  }
  .modal__close img {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.modal__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__icon {
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .modal__icon {
    max-width: 6.4rem;
    margin-bottom: 2.5rem;
  }
  .modal__icon img {
    width: 100%;
  }
}

.modal__body {
  margin-bottom: 3.5rem;
  text-align: center;
}
@media (max-width: 576px) {
  .modal__body {
    margin-bottom: 1.8rem;
  }
}

.modal__header {
  max-width: 32.1rem;
  margin: 0 auto 3rem;
  text-align: center;
}
@media (max-width: 576px) {
  .modal__header {
    margin: 0 auto 1.8rem;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 135%;
  margin-bottom: 0.8rem;
  color: #1B263B;
}
@media (max-width: 576px) {
  .modal__title {
    font-size: 2.4rem;
  }
}

.modal__subtitle {
  font-size: 1.8rem;
  line-height: 135%;
  color: #1B263B;
}
@media (max-width: 576px) {
  .modal__subtitle {
    font-size: 1.4rem;
  }
}

.modal__form-item {
  margin-bottom: 2.5rem;
  width: 100%;
}
.modal__form-item input {
  min-height: 7rem;
  border: 0.1rem solid #AEAEAE;
  width: 100%;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 135%;
  border-radius: 0.5rem;
  padding: 0 2.3rem;
}
.modal__form-item input:focus {
  outline: 0;
  border: 0.1rem solid #FF6C4F;
}
@media (max-width: 576px) {
  .modal__form-item input {
    min-height: 4rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .modal__form-item {
    margin-bottom: 1.8rem;
  }
}

.modal__politic {
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
  color: #1B263B;
  line-height: 135%;
}
.modal__politic a {
  color: #FF6C4F;
  border-bottom: 1px solid #FF6C4F;
}
@media (max-width: 576px) {
  .modal__politic {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
  }
}

.modal__btn {
  width: 100%;
}
.modal__btn button {
  width: 100%;
  min-height: 7rem;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .modal__btn button {
    min-height: 4rem;
    font-size: 1.4rem;
  }
}

body.no-scroll {
  overflow: hidden;
}

.title-block {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 135%;
  color: #1B263B;
}
@media (max-width: 576px) {
  .title-block {
    font-size: 2.8rem;
  }
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Black.woff2") format("woff2"), url("/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Black.woff2") format("woff2"), url("/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Black.woff2") format("woff2"), url("/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}