/*# sourceMappingURL=main.css.map */html {font-size: 62.5%;}body,html {margin: 0;padding: 0;height: 100%;}*,*:before,*:after {box-sizing: border-box;}body {font-family: 'Roboto', sans-serif;} ul, ol, li {list-style: none;margin: 0;padding: 0;}button {border: 0;padding: 0;background: none;}h1, h2, h3, h4, h5, h6 {margin: 0;padding:0;}a {text-decoration: none;}input {border: 0; background: none;} p {margin: 0; padding: 0}.wrapper {min-height: 100%;overflow: hidden;display: flex;flex-direction: column;}.main {flex: 1 1 auto;}address {font-style: normal;}

[class*="__container"] {
    width: 100%;
    padding: 0 15px;
    margin: auto;
    max-width: 1230px;
}

@import "blocks/header";
@import "blocks/intro";
@import "blocks/info";
@import "blocks/description";

.body {
    &.no-scroll {
        overflow: hidden;
    }
}