/*# sourceMappingURL=main.css.map */html {font-size: 62.5%;}body,html {margin: 0;padding: 0;height: 100%;}*,*:before,*:after {box-sizing: border-box;}body {font-family: 'Circe',  sans-serif;} ul, ol, li {list-style: none;margin: 0;padding: 0;}button {border: 0;padding: 0;background: none;}h1, h2, h3, h4, h5, h6 {margin: 0;padding:0;}a {text-decoration: none;}input {border: 0; background: none;} p {margin: 0; padding: 0}.wrapper {min-height: 100%;overflow: hidden;display: flex;flex-direction: column;}.main {flex: 1 1 auto;}address {font-style: normal;}

[class*="__container"] {
    width: 100%;
    padding: 0 15px;
    margin: auto;
    max-width: 1789px;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

/* ШРИФТЫ */

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-Light.woff2') format('woff2'),
        url('/fonts/Commissioner-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-Regular.woff2') format('woff2'),
        url('/fonts/Commissioner-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-ExtraBold.woff2') format('woff2'),
        url('/fonts/Commissioner-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-SemiBold.woff2') format('woff2'),
        url('/fonts/Commissioner-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-Bold.woff2') format('woff2'),
        url('/fonts/Circe-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-Bold.woff2') format('woff2'),
        url('/fonts/Commissioner-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe Extra';
    src: url('/fonts/Circe-ExtraBold.woff2') format('woff2'),
        url('/fonts/Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-Light.woff2') format('woff2'),
        url('/fonts/Circe-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-Regular.woff2') format('woff2'),
        url('/fonts/Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



/* IMPORT */

@import "blocks/header";
@import "blocks/intro";
@import "blocks/info";
@import "blocks/error";
@import "blocks/error";
@import "blocks/brand";
@import "blocks/product";
@import "blocks/contact";
@import "blocks/modal";
@import "blocks/popup";
@import "blocks/search";
@import "blocks/card";
@import "blocks/banner";

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Точки (булиты) */
.intro .slick-dots{
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 768px) {
    }
} .intro .slick-dots li{
    background: #FFFFFF;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;

    margin-right: 2.6rem;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 992px) {
        width: 8px;
        height: 8px;
        margin-right: 1rem;
    }
}
/* Активная точка */
.intro .slick-dots li.slick-active{
    background-color: #000000;
}
/* Элемент точки */
.intro .slick-dots li button{
    font-size: 0;
}

.nav__link {
    &.current {
        color: #006937;

        &:before {
            content: "";
            width: 100%;
            opacity: 1;
            transform: translateX(0);
            background-color: #006937;
        }
    
        &:after {
            content: "";
            width: 100%;
            opacity: 1;
            background-color: #006937;
            transform: translateX(0);
        }
    }
}

.name {
    background-color: #000;
    a {
        font-size: 1.4rem;
        color: #fff;
    }
}

.link {
}

.subnav {
    display: none;
}

.selectpicker {
    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    border-radius: 0px 0px 20px 20px;
}

.special {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
  }
  
.dropdown-menu {
    width: 100%;
}
.btn {
    background-color: #000;
}

.dropdown-item {
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    
    color: #868686;
}
.dropdown-toggle {
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    /* or 231% */
    
    letter-spacing: -0.4px;
    text-transform: uppercase;
    
    color: #868686;
}


.hide {
    display: none;
}

.dropnav {
    width: 50%;

    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 1.3rem;
    }
}

  
  .dropdown {
    min-height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .projects {
    width: 100%;
  }
  
  .projects,
  .products {
    position: relative;
  }
  
  .projects ul,
  .products ul {
    

    @media (max-width: 480px) {
        width: 100%;
    }
  }
  .dropdown-menu {
    display: none;
  }
  .menu-active {
    display: block;
  }
  .projects li,
  .products li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  
  .projects li:hover,
  .products li:hover {
    background-color: #E6E6E6;
  }
  
  .projects a,
  .products a {
    font-family: 'Commissioner';
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 231%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #868686;
  }
  
  .dropdown button,
  .home {
    background: none;
    text-decoration: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
  }
  
/* 
  .projects button:focus + ul,
  .products button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }

*/

  .projects {
    width: 100%;
    button {
        width: 96%;
        border: 1px solid #9C9C9C;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 2rem;
        padding: 0 2rem;
        background-color: #fff;

        font-family: 'Commissioner';
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 231%;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        color: #868686;
        position: relative;
        z-index: 101;

        &:after {
            content: "";
            display: inline-block;
            width: 11px;
            height: 7px;
            background-image: url("/assets/img/contact/arrow.svg");
            background-repeat: no-repeat;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }
  }

.projects-list {
    position: absolute;
    top: 50%;
    left: 0;
    padding-top: 5%;
    display: none;

    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    width: 96%;
    transition: all .2s linear;

    &.show {
        display: block;
    }
}

/* -------------------------------------- */

.capcha-block {
    max-width: 302px;
    margin: auto;

    border-radius: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .7rem 1.5rem;
}
.capcha-block__left {
    display: flex;
    align-items: center;
    label {
        font-family: 'Commissioner';
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 125%;
        letter-spacing: -0.4px;
        color: #FFFFFF;

        margin-left: 1.3rem;
    }

    input {
        display: none;
    }

    &:before {
        content: "";
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        background-color: #fff;
        border: 2px solid #C1C1C1;
        border-radius: 2px;
        cursor: pointer;
    }
}
