@charset "UTF-8";
html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  background: none;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

address {
  font-style: normal;
}

/* Import */
.header {
  min-height: 13.5rem;
  position: relative;
  z-index: 1000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav li {
  margin-right: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav li:last-child {
  margin-right: 0;
}
.header__nav li:last-child .header__link {
  pointer-events: none;
}
.header__nav li:last-child .header__link:hover {
  color: #fff;
}

.header__link {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #fff;
}
.header__link:hover {
  color: #E1202E;
}

.header__contacts {
  background: #E1202E;
  border-radius: 0px 0px 1.1rem 1.1rem;
  padding: 4.4rem 3.5rem;
}

.header__phone {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.2380952381;
  color: #fff;
}

.header__suptitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #fff;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E1202E;
  border-radius: 0.4rem;
  width: 4rem;
  height: 4rem;
  margin-left: 1.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__social:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header__decor {
  position: absolute;
  top: -90%;
  right: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.intro__content {
  max-width: 88.2rem;
}

.intro__title {
  font-weight: 900;
  font-size: 5.5rem;
  line-height: 135%;
  text-transform: uppercase;
  color: #fff;
  max-width: 71.1rem;
}
.intro__title span {
  background-color: #E1202E;
  padding: 0 1.9rem;
}

.intro__text {
  margin: 2.5rem 0 4.5rem;
  max-width: 67.2rem;
}

.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__button {
  margin-right: 3.5rem;
}
.intro__button:last-child {
  margin-right: 0;
}

.intro__road {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.intro__car {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.intro__car._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.intro__decor {
  position: absolute;
  top: 10.4rem;
  right: -7.4rem;
}

.btn {
  min-height: 7rem;
  border-radius: 0.5rem;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  color: #fff;
  padding: 0 2.4rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  overflow: hidden;
}
.btn--red {
  background-color: #E1202E;
}
.btn--red:hover {
  background-color: #b61824;
}
.btn--border {
  border: 0.1rem solid #fff;
}
.btn--border:hover {
  background-color: #fff;
  color: #000;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, hsla(0deg, 0%, 100%, 0.1)), color-stop(20%, hsla(0deg, 0%, 100%, 0.2)), to(hsla(0deg, 0%, 100%, 0.6)));
  background: linear-gradient(90deg, hsla(0deg, 0%, 100%, 0.1) 10%, hsla(0deg, 0%, 100%, 0.2) 20%, hsla(0deg, 0%, 100%, 0.6));
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  left: -20%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-animation-name: blick;
  animation-name: blick;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blick {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes blick {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
.info {
  padding-top: 21.4rem;
  position: relative;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__photo {
  width: 50%;
  position: relative;
}
.info__photo img {
  width: 100%;
}

.info__photo-block {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.info__photo-block img {
  width: 100%;
}

.info__photo-decor {
  position: absolute;
  top: 8rem;
  right: 5rem;
  z-index: -1;
}

.info__woman {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}

.info__title {
  margin-bottom: 1.8rem;
}

.info__list {
  margin-top: 3.5rem;
}
.info__list li {
  max-width: 55rem;
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__list li:last-child {
  margin-bottom: 0;
}

.info__list-disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.7rem;
  height: 2.5rem;
  margin-right: 2.5rem;
}

.info__list-text {
  font-size: 2.4rem;
  line-height: 135%;
  color: #fff;
}

.info__decor-1 {
  position: absolute;
  left: -10rem;
  top: 0;
}

.info__decor-2 {
  position: absolute;
  top: 25rem;
  left: -3rem;
}

.info__decor-3 {
  position: absolute;
  bottom: 0;
  right: -6rem;
}

/* Fonts */
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2"), url("/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2"), url("/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Black.woff2") format("woff2"), url("/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Контейнер */
[class*=__container] {
  width: 100%;
  padding: 0 1.5rem;
  margin: auto;
  max-width: 1310px;
}

/* BEM */
.text-block {
  font-size: 2.4rem;
  line-height: 135%;
  color: #FFFFFF;
}

.title-block {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 125%;
  color: #fff;
}
.title-block span {
  background-color: #E1202E;
  padding: 0 1.7rem;
}